@import "src/@fuse/scss/fuse";

.parametro-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 500px;       
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .mat-dialog-container {
        padding: 0;
        
        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }

    }

    .mat-form-field{
        font-size: 0.8em !important; //
    }

    .mat-form-field-label {
        font-size: 1.3em !important; //
    }

    .mat-slide-toggle{
        font-size: 0.9em !important; //
    }
    
    .mat-checkbox {
        font-size: 0.8em !important;
        vertical-align: top !important;
    }
    
    .mat-input-element[readonly] {
        font-style: italic !important;
    }
    

}
