<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" >

        <form [formGroup]="parametroForm">

            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="this.submodulo=='CCA'">               
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="98">
                    <mat-label>Cuenta Contable</mat-label>                    
                    <select name='valor' matNativeControl formControlName="valor">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>  
            </div>    
            
            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="this.submodulo=='TDO'">               
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="98">
                    <mat-label>Tipo Documento</mat-label>                    
                    <select name='valor' matNativeControl formControlName="valor">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaTipoDocumento" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field> 
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="this.submodulo=='SUO'">               
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="98">
                    <mat-label>SubDiario</mat-label>                    
                    <select name='valor' matNativeControl formControlName="valor">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaSubDiario" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field> 
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 

            <div fxLayout="row" fxLayoutAlign="star start">

                <div fxFlex="50">
                    <mat-slide-toggle  class="emt-24"
                        name='estado' formControlName="estado"
                        [checked]="checkEstado" 
                        floatLabel="always">
                        Estado
                    </mat-slide-toggle>            
                </div>
                
                <div mat-dialog-actions fxFlex="50" fxLayoutAlign="end start">

                    <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
                        <mat-icon class="mr-8">exit_to_app</mat-icon>
                        {{botonExit}}
                    </button>        
            
                    <button mat-stroked-button color="accent" [disabled]="parametroForm.invalid" (click)="grabarParametro(parametroForm)">
                            <mat-icon class="mr-8">check_circle</mat-icon>
                            {{botonAceptar}}            
                    </button>
                </div>
            </div> 

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 


        </form>

    </div>


</div>



