<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" >

        <form [formGroup]="cuentaopedocmonForm">

            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="this.accion !== 'editar'">
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="49">
                    <mat-label>Tipo de Documento</mat-label>
                    <select name='tipodocumento' matNativeControl required formControlName="tipodocumento" (blur)="onBlurCuentaOpeDocMon()" >
                      <option *ngFor="let dato of listaTipoDocumento" [value]="dato.codigo">
                          {{dato.codigo}} - {{dato.descripcion}}
                      </option>                    
                    </select> 
                </mat-form-field>


                <mat-label fxFlex="1"></mat-label>
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="50">
                    <mat-label>Moneda</mat-label>    
                    <select name='moneda' matNativeControl required formControlName="moneda" (blur)="onBlurCuentaOpeDocMon()">
                      <option *ngFor="let dato of listaMoneda" [value]="dato.valor">
                          {{dato.descripcion}}
                      </option>                    
                  </select>      
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="this.accion === 'editar'">
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="49">
                    <mat-label>Tipo de Documento</mat-label>
                    <input matInput name="descripciontipodocumento"  formControlName="descripciontipodocumento" [readonly]="true"> 
                </mat-form-field>


                <mat-label fxFlex="1"></mat-label>
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="50">
                    <mat-label>Moneda</mat-label>    
                    <input matInput name="descripcionmoneda"  formControlName="descripcionmoneda" [readonly]="true">      
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="49">
                    <mat-label>Cuenta Contable Compra</mat-label>                    
                    <select name='cuentacompra' matNativeControl formControlName="cuentacompra">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>      

                <mat-label fxFlex="1"></mat-label>
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="50">
                    <mat-label>Cuenta Contable Compra Relacionado</mat-label>                    
                    <select name='cuentacomprarel' matNativeControl formControlName="cuentacomprarel">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>   

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="49">
                    <mat-label>Cuenta Contable Venta</mat-label>                    
                    <select name='cuentaventa' matNativeControl formControlName="cuentaventa">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>      

                <mat-label fxFlex="1"></mat-label>
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="50">
                    <mat-label>Cuenta Contable Venta Relacionado</mat-label>                    
                    <select name='cuentaventarel' matNativeControl formControlName="cuentaventarel">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>   

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="49">
                    <mat-label>Cuenta Contable Honorario</mat-label>                    
                    <select name='cuentahonorario' matNativeControl formControlName="cuentahonorario">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>      

                <mat-label fxFlex="1"></mat-label>
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="50">
                    <mat-label>Cuenta Contable Importación</mat-label>                    
                    <select name='cuentaimportacion' matNativeControl formControlName="cuentaimportacion">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>   

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="49">
                    <mat-label>Cuenta Contable No Domiciliado</mat-label>                    
                    <select name='cuentanodomiciliado' matNativeControl formControlName="cuentanodomiciliado">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>      

                <mat-label fxFlex="1"></mat-label>
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="50">
                    <mat-label>Cuenta Contable No Domiciliado Relacionado</mat-label>                    
                    <select name='cuentanodomiciliadorel' matNativeControl formControlName="cuentanodomiciliadorel">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>   

            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 

            <div fxLayout="row" fxLayoutAlign="star start">

                <div fxFlex="50">
                    <mat-slide-toggle  class="emt-24"
                        name='estado' formControlName="estado"
                        [checked]="checkEstado" 
                        floatLabel="always">
                        Estado
                    </mat-slide-toggle>            
                </div>
                
                <div mat-dialog-actions fxFlex="50" fxLayoutAlign="end start">

                    <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
                        <mat-icon class="mr-8">exit_to_app</mat-icon>
                        {{botonExit}}
                    </button>        
            
                    <button mat-stroked-button color="accent" [disabled]="cuentaopedocmonForm.invalid" (click)="grabarCuentaOpeDocMon(cuentaopedocmonForm)">
                            <mat-icon class="mr-8">check_circle</mat-icon>
                            {{botonAceptar}}            
                    </button>
                </div>
            </div> 

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 


        </form>

    </div>


</div>



