<div id="usuarios" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    people
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Usuarios
              </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar usuarios" (keyup)="doFilter($event.target.value)">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->

            <button mat-raised-button (click)="crearUsuario()" class="add-product-button fuse-white mt-24 mt-md-0"><mat-icon class="mr-8">check_circle</mat-icon>
              <span>Nuevo</span>
            </button>


            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="usuarios-table" #table [dataSource]="dataSource" fusePerfectScrollbar matSort [@animateStagger]="{value:'50'}">

                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
                    <mat-cell *matCellDef="let usuario">
                        <p class="text-truncate">{{usuario.username}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let usuario">
                        <p class="text-truncate">{{usuario.nombre}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
                    <mat-cell *matCellDef="let usuario">
                        <p class="text-truncate">{{usuario.email}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="telefono" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
                    <mat-cell *matCellDef="let usuario" class="mat-cell">
                        <p class="text-truncate">{{usuario.telefono}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let usuario">
                        <button mat-button color="fuse-white" disabled>
                      <mat-icon *ngIf="usuario.estado=='A'" class="active-icon green-600 s-16">check</mat-icon>
                      <mat-icon *ngIf="usuario.estado=='I'" class="active-icon red-500 s-16">close</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="empresaperfil">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let usuario">
                        <button mat-stroked-button color="fuse-white" aria-label="empresaperfil" (click)="empresaperfilUsuario(usuario.username, usuario.nombre)" title='Asignar Empresas y Perfiles'><mat-icon>account_balance</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let usuario">
                        <button mat-stroked-button color="fuse-white" aria-label="editar" (click)="editarUsuario(usuario.username)" title='Editar Usuario'><mat-icon>edit</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let usuario">
                        <button mat-stroked-button color="fuse-white" aria-label="eliminar" (click)="eliminarUsuario(usuario.username)" title='Eliminar Usuario'><mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-header-row *matRowDef="let usuario; columns: displayedColumns;" class="usuario">
                </mat-header-row>

            </mat-table>

            <div *ngIf="listarTabla.length === 0" class="no-records">
                Usuarios no registrados, ...
            </div>


            <mat-toolbar *ngIf="listarTabla.length > 0">
                <mat-toolbar-row>
                    <button mat-raised-button (click)="exportarUsuario()" class="add-product-button blue-grey mt-24 mt-md-0" title='Generar Reporte / Descargar Información'><mat-icon>save_alt</mat-icon></button>
                    <span fxFlex></span>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>

    </div>

</div>