<div id="usuario-empresaperfil" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
  
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/sistema/mantenimiento/usuarios'">
                <mat-icon>arrow_back</mat-icon>
              </button>

              <div class="logo mb-24 mb-md-0"
                  fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    account_balance
                  </mat-icon>
                  <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h3" >
                        Empresas y Perfiles del Usuario:
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{this.misDatos.username}} - {{this.misDatos.nombre}}</span>
                    </div>
                </div>
              </div>
          </div>
            <!-- / APP TITLE -->
  
            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-10">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar Empresa y Perfil" (keyup)="doFilter($event.target.value)">
                </div>
            </div>
            <!-- / SEARCH -->
  

            <!-- ADD BUTTON -->
            
            <button mat-raised-button (click)="crearUsuarioEmpresaPerfil()"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                    <mat-icon class="mr-8">check_circle</mat-icon>
                <span>Nuevo</span>
            </button>
  
            <!-- / ADD BUTTON -->
  
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card" >
  
            <mat-table class="usuario-empresaperfil-table"
                #table [dataSource]="dataSource"
                fusePerfectScrollbar
                matSort 
                [@animateStagger]="{value:'50'}">
  
                <ng-container matColumnDef="descEmpresa">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</mat-header-cell>
                  <mat-cell *matCellDef="let usuarioempresaperfil">
                    <p class="text-truncate">{{usuarioempresaperfil.descEmpresa}}</p>
                  </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="descPerfil">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Perfil</mat-header-cell>
                  <mat-cell *matCellDef="let usuarioempresaperfil">
                    <p class="text-truncate">{{usuarioempresaperfil.descPerfil}}</p>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indDefecto">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Acceso por Defecto</mat-header-cell>
                  <mat-cell *matCellDef="let usuarioempresaperfil">
                    <button mat-button color="fuse-white" disabled>
                      <mat-icon *ngIf="usuarioempresaperfil.indDefecto=='A'" class="active-icon green-600 s-16">check</mat-icon>
                      <mat-icon *ngIf="usuarioempresaperfil.indDefecto=='I'" class="active-icon red-500 s-16">close</mat-icon></button>
                  </mat-cell>                                     
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let usuarioempresaperfil">
                      <button mat-button color="fuse-white" disabled>
                        <mat-icon *ngIf="usuarioempresaperfil.estado=='A'" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="usuarioempresaperfil.estado=='I'" class="active-icon red-500 s-16">close</mat-icon></button>
                    </mat-cell>                                     
                </ng-container>
  
                <ng-container matColumnDef="editar">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let usuarioempresaperfil">
                    <button mat-stroked-button color="fuse-white" aria-label="editar" (click)="editarUsuarioEmpresaPerfil(usuarioempresaperfil.username, usuarioempresaperfil.empresa, usuarioempresaperfil.perfil)"  title='Editar Empresa-Perfil'><mat-icon>edit</mat-icon></button>
                  </mat-cell>
                </ng-container> 
  
                <ng-container matColumnDef="eliminar">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let usuarioempresaperfil">
                      <button mat-stroked-button color="fuse-white" aria-label="eliminar" (click)="eliminarUsuarioEmpresaPerfil(usuarioempresaperfil.username, usuarioempresaperfil.empresa, usuarioempresaperfil.perfil)" title='Eliminar Empresa-Perfil'><mat-icon>delete</mat-icon></button>
                  </mat-cell>
                </ng-container>              
  
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
  
                <mat-header-row *matRowDef="let usuarioempresaperfil; columns: displayedColumns;"
                        class="usuarioempresaperfil">
                </mat-header-row>
  
            </mat-table>
  
            <div *ngIf="listarTabla.length === 0" class="no-records">
               Usuarios no registrados, ...
            </div>
  
             <mat-paginator *ngIf="listarTabla.length > 0" [pageSize]="10" [pageSizeOptions]="[5,10,15]">
            </mat-paginator>
        </div>
    </div>
  
  </div>
  
