@import "src/@fuse/scss/fuse";
gez-usuario-empresaperfil {
    #usuario-empresaperfil {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }
        > .center {
            > .header {
                min-height: 15% !important;
                height: auto !important;
                .search-wrapper {
                    font-size: 0.9em;
                    width: 100%;
                    max-width: 400px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);
                    @include media-breakpoint('xs') {
                        width: 100%;
                    }
                    .search {
                        width: 100%;
                        height: 38px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 38px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .usuario-empresaperfil-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 36px;  
        }
        .mat-header-cell {
            min-height: 41px; // 
            font-size: 0.8em;
            color: rgb(15, 65, 145);
        }
        .usuario-empresaperfil {            
            position: relative;
            height: 40px;
        }

        .mat-cell {
            font-size: 0.8em;
            min-width: 0;
            display: flex;
            align-items: center;   
            min-height: 36px; // 
            max-height: 36px; // 
        }       

        .active-icon {
            border-radius: 50%;
        }
    }
}

.mat-paginator {
    font-size: 0.85em; 
}

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
    table-layout: fixed;
}

.mat-column-descEmpresa {
    flex: 0 0 34% !important;
    min-width: 104px !important;
}

.mat-column-descPerfil {
    flex: 0 0 34% !important;
    min-width: 104px !important;
}

.mat-column-indDefecto {
    flex: 0 0 7% !important;
    min-width: 104px !important;
}

.mat-column-estado {
    flex: 0 0 7% !important;
    min-width: 60px !important;
}

.mat-column-editar {
    flex: 0 0 7% !important;
}

.mat-column-eliminar {
    flex: 0 0 7% !important;
}