<div id="socionegocio" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    format_align_left
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Socio de Negocio
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar Socio de Negocio" (keyup)="doFilter($event.target.value)">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->

            <button mat-raised-button (click)="crearSocioNegocio()" class="add-product-button fuse-white mt-24 mt-md-0" title='Nuevo Socio de Negocio'><mat-icon class="mr-8">add_circle_outline</mat-icon>
              <span>Nuevo</span>
            </button>
        
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="socionegocio-table" [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="entidad">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                    <mat-cell *matCellDef="let socionegocio">
                        <p class="text-truncate">{{socionegocio.entidad}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombres">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let socionegocio">
                        <p class="text-truncate">{{socionegocio.nombres}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipopersona">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Persona</mat-header-cell>
                    <mat-cell *matCellDef="let socionegocio">
                        <p class="text-truncate">{{socionegocio.descripciontipopersona}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ruc" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Documento de Identidad</mat-header-cell>
                    <mat-cell *matCellDef="let socionegocio" class="mat-cell">
                        <p class="text-truncate">{{socionegocio.ruc}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nodomiciliado" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>No Domiciliado</mat-header-cell>
                    <mat-cell *matCellDef="let socionegocio" class="mat-cell">
                        <p class="text-truncate">{{socionegocio.descripcionnodomiciliado}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let socionegocio">
                        <button mat-button color="fuse-white" disabled>
                      <mat-icon *ngIf="socionegocio.estado=='A'" class="active-icon green-600 s-16">check</mat-icon>
                      <mat-icon *ngIf="socionegocio.estado=='I'" class="active-icon red-500 s-16">close</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let socionegocio">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" (click)="editarSocioNegocio(socionegocio.entidad)" title='Editar Socio de Negocio'><mat-icon>edit</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let socionegocio">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" (click)="eliminarSocioNegocio(socionegocio.entidad)" title='Eliminar Socio de Negocio'><mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-header-row *matRowDef="let socionegocio; columns: displayedColumns;" class="socionegocio">
                </mat-header-row>

            </mat-table>

            <div *ngIf="dataSource.data.length === 0" class="no-records">
                {{resultado}}
            </div>


            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <button mat-raised-button (click)="exportarSocioNegocio()" class="add-product-button blue-grey mt-24 mt-md-0" title='Generar Reporte / Descargar Información'><mat-icon>save_alt</mat-icon></button>
                    <span fxFlex></span>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

    </div>

</div>

