<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="ejercicioForm">

            <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="95">
                    <mat-label>Empresa</mat-label>
                    <input matInput name="empresa"  formControlName="empresa" [readonly]="true">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="95">
                    <mat-label>Año de Proceso</mat-label>                    
                    <select name='ejercicio' matNativeControl formControlName="ejercicio" required>
                        <option *ngFor="let dato of listaEjercicio" [value]="dato.ejerciciocontable">
                            {{dato.ejerciciocontable}} 
                        </option>                    
                    </select>
                </mat-form-field>  
            </div>         

            

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>            

            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

                <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
                    <mat-icon class="mr-8">exit_to_app</mat-icon>
                    {{botonExit}}
                </button>        
        
                <button mat-stroked-button color="accent" [disabled]="ejercicioForm.invalid" (click)="valorinicialAnno(ejercicioForm)">
                        <mat-icon class="mr-8">check_circle</mat-icon>
                        {{botonAceptar}}            
                </button>
            </div>
        </form>

    </div>


</div>



