<div class="dialog-content-wrapper">
    
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{titulo}}</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <div class="h3" fxLayoutAlign="center center">{{subTitulo}}</div>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">
        <button mat-stroked-button color="accent"
            (click)="aceptar()">            
            {{botonAceptar}}            
        </button>
        <button mat-stroked-button color="warn"
            (click)="matDialogRef.close()">
            {{botonCancelar}}
        </button>
    </div>
</div>

