@import "src/@fuse/scss/fuse";

gez-operacionegreso-form {
    #operacioncontable {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }
        >.center {
            >.header {
                min-height: 12% !important;
                height: auto !important;
                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);
                    @include media-breakpoint('xs') {
                        width: 100%;
                    }
                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;
                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }
                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }
    .operacioncontable-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .mat-header-row {
            min-height: 43px;
        }
        .mat-header-cell {
            font-size: 1.0em;
            color: rgb(15, 65, 145);
        }        
        .mat-cell {
            font-size: 0.9em;
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .active-icon {
            border-radius: 50%;
        }
        .operacioncontable {
            position: relative;
            cursor: pointer;
            height: 23px;
        }
        .mat-tab-label {
            min-width: 25px !important;
            padding: 20px;
            background-color: transparent;
            color: black !important;
            font-size: 0.9em !important; //
        }
        .mat-form-field{
            font-size: 0.8em !important; //
        }
        .mat-form-field-label {
            font-size: 1.3em !important; //
        }
        .mat-input-element[readonly] {
            font-style: italic !important;
        }
        .mat-select {
            font-size: 0.8em !important;
        }
        .mat-checkbox {
            font-size: 0.8em !important;
        }
        .mat-slide-toggle{
            font-size: 0.9em !important; //
        }
        .active-icon {
            border-radius: 50% !important;
        }
        .mat-icon{
            border-radius: 50% !important;
            transform: scale(0.7);
        }
        .texto-icon{
            font-size: 0.8em !important;
        }
    }

    .registro-container {
        padding: 10px;
        margin: 0 auto;

        .card {
            // width: 1020px;
            // min-width: 1020px;
            //max-width: 1020px;
            padding: 10px 10px;
            overflow: hidden;
            background: #FFFFFF;
            @include mat-elevation(7);

            .headerlist{
                font-size: 1.0em !important;
            }

            .header {
                font-size: 0.9em !important;
                .invoice-date {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.54);
                    margin-bottom: 32px;
                }

                .client {

                    .invoice-number {
                        font-size: 18px;
                        padding-bottom: 2px;

                        .title {
                            color: rgba(0, 0, 0, 0.54);
                        }

                        .number {
                            color: rgba(0, 0, 0, 0.87);
                            padding-left: 6px;
                        }
                    }

                    .due-date {
                        font-size: 18px;
                        padding-bottom: 16px;

                        .title {
                            color: rgba(0, 0, 0, 0.54);
                        }

                        .date {
                            color: rgba(0, 0, 0, 0.87);
                            padding-left: 6px;
                        }
                    }

                    .info {
                        color: rgba(0, 0, 0, 0.54);
                        line-height: 22px;
                    }
                }

                .issuer {
                    margin-right: -88px;
                    padding-right: 66px;
                    font-size: 0.9em !important;

                    .logo {
                        width: 96px;
                        padding: 0 8px;
                        border-right: 1px solid rgba(255, 255, 255, 0.7);
                    }

                    .info {
                        padding: 16px;
                    }
                }
            }

            .content {

                .invoice-table {
                    margin-top: 64px;
                    font-size: 15px;

                    thead {

                        tr {

                            th {
                                color: rgba(0, 0, 0, 0.87);
                                border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                                &:first-child {
                                    padding-left: 8px;
                                }

                                &:last-child {
                                    padding-right: 8px;
                                }
                            }
                        }
                    }

                    tbody {

                        tr {

                            td {
                                color: rgba(0, 0, 0, 0.87);
                                border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                                &:first-child {
                                    padding-left: 8px;
                                }

                                &:last-child {
                                    padding-right: 8px;
                                }
                            }
                        }
                    }

                    .title {
                        font-size: 16px;
                    }

                    .detail {
                        margin-top: 8px;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.54);
                        max-width: 360px;
                    }
                }

                .invoice-table-footer {
                    margin: 32px 0 72px 0;

                    tr {

                        td {
                            text-align: right;
                            font-size: 16px;
                            font-weight: 600;
                            color: rgba(0, 0, 0, 0.54);
                            border-bottom: none;
                            padding: 4px 8px;

                            &:first-child {
                                text-align: left;
                            }
                        }

                        &.discount {

                            td {
                                padding-bottom: 32px;
                            }
                        }

                        &.total {

                            td {
                                padding: 24px 8px;
                                border-top: 1px solid rgba(0, 0, 0, 0.12);
                                font-size: 35px;
                                font-weight: 300;
                                color: rgba(0, 0, 0, 1);
                            }
                        }
                    }
                }
            }

            .footer {

                .note {
                    font-size: 15px;
                    font-weight: 600;
                    margin-bottom: 24px;
                }

                .logo {
                    width: 32px;
                    min-width: 32px;
                    margin-right: 24px;
                }

                .small-note {
                    font-size: 12px;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.54);
                    line-height: 18px;
                }
            }
            .mat-icon {
                transform: scale(0.7);
                border-radius: 0% !important;
            }

            .registrocontable-table {
                flex: 1 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, .12);                
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                .mat-header-row {
                    min-height: 30px; // 36
                }
                .mat-header-cell {
                    // font-size: 1.0em;
                    // min-height: 41px; // 
                    font-size: 0.8em;
                    color: rgb(15, 65, 145);
                }
                .mat-cell {
                    font-size: 0.8em; //
                    min-width: 0;
                    display: flex;
                    align-items: center;
                    // min-height: 36px; // 
                    // max-height: 36px; // 
                }
                .mat-footer-cell {
                    font-size: 0.8em; //
                    min-width: 0;
                    display: flex;
                    align-items: center;
                    // min-height: 36px; // 
                    // max-height: 36px; // 
                }

                .active-icon {
                    border-radius: 50% !important;
                }
                .mat-icon {
                    transform: scale(0.8);
                }
                
                .text-green {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: green;
                }

                .text-black {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: black;
                }

                .mat-column-cuentacontable {
                    flex: 0 0 5% !important;
                    min-width: 80px !important;
                }
                .mat-column-proveedor {
                    flex: 0 0 5% !important;
                    min-width: 140px !important;
                }
                .mat-column-tipoanotacion {
                    flex: 0 0 1% !important;
                    min-width: 35px !important;
                }
                .mat-column-centrocosto {
                    flex: 0 0 5% !important;
                    min-width: 70px !important;
                }
                .mat-column-porcentaje {
                    flex: 0 0 1% !important;
                    min-width: 30px !important;
                    text-align: center;
                    justify-content: center;
                }
                .mat-column-tipodocumento {
                    flex: 0 0 5% !important;
                    min-width: 90px !important;
                }
                .mat-column-serie {
                    flex: 0 0 1% !important;
                    min-width: 30px !important;
                }
                .mat-column-documento {
                    flex: 0 0 5% !important;
                    min-width: 75px !important;
                }
                .mat-column-fechaemision {
                    flex: 0 0 5% !important;
                    min-width: 60px !important;
                    text-align: center;
                    justify-content: center;
                }
                .mat-column-fechaven {
                    flex: 0 0 5% !important;
                    min-width: 85px !important;
                    text-align: center;
                    justify-content: center;
                }
                .mat-column-imporigen {
                    flex: 0 0 5% !important;
                    min-width: 80px !important;
                    text-align: right;
                    justify-content: flex-end;
                }
                .mat-column-totales {
                    flex: 0 0 5% !important;
                    min-width: 80px !important;
                    text-align: right;
                    justify-content: flex-end;
                    color: rgb(40, 140, 190);
                }
                .mat-column-impnacional {
                    flex: 0 0 5% !important;
                    min-width: 90px !important;
                    text-align: right;
                    justify-content: flex-end;
                }
                .mat-column-impextranjera {
                    flex: 0 0 5% !important;
                    min-width: 100px !important;
                    text-align: right;
                    justify-content: flex-end;
                }
                .mat-column-mediopago {
                    flex: 0 0 5% !important;
                    min-width: 80px !important;
                }
                .mat-column-glosa {
                    flex: 0 0 5% !important;
                    min-width: 85px !important;
                }
                .mat-column-glosadestino {
                    flex: 0 0 5% !important;
                    min-width: 145px !important;
                }
                .mat-column-editar {
                    flex: 0 0 1% !important;
                    min-width: 30px !important;
                }
                
                .mat-column-eliminar {
                    flex: 0 0 1% !important;
                    min-width: 30px !important;
                }
                
                
            }
        }
    }    
}
