<div id="subdiario" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    format_align_left
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  SubDiario
              </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar SubDiario" (keyup)="doFilter($event.target.value)">
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- ADD BUTTON -->

            <button mat-raised-button  class="add-product-button fuse-white mt-24 mt-md-0" title='Nuevo SubDiario' (click)="registrarSubDiario('','insertar')">
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
                <span>Nuevo</span>
            </button>
          
              <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="subdiario-table" [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="subdiario">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>SubDiario</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario">
                        <p class="text-truncate">{{subdiario.subdiario}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario">
                        <p class="text-truncate">{{subdiario.descripcion}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indicadorcompra" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Compra</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario" class="mat-cell">
                        <p class="text-truncate">{{subdiario.indicadorcompra}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indicadorhonorario" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Honorario</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario" class="mat-cell">
                        <p class="text-truncate">{{subdiario.indicadorhonorario}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indicadorventa" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Venta</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario" class="mat-cell">
                        <p class="text-truncate">{{subdiario.indicadorventa}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indicadorcaja" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Caja</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario" class="mat-cell">
                        <p class="text-truncate">{{subdiario.indicadorcaja}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indicadoregreso" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Egreso</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario" class="mat-cell">
                        <p class="text-truncate">{{subdiario.indicadoregreso}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indicadoringreso" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Ingreso</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario" class="mat-cell">
                        <p class="text-truncate">{{subdiario.indicadoringreso}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indicadordiario" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Diario</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario" class="mat-cell">
                        <p class="text-truncate">{{subdiario.indicadordiario}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indicadorimportacion" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Importación</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario" class="mat-cell">
                        <p class="text-truncate">{{subdiario.indicadorimportacion}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="indicadornodomiciliado" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>No Domiciliado</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario" class="mat-cell">
                        <p class="text-truncate">{{subdiario.indicadornodomiciliado}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let subdiario">
                        <button mat-button color="fuse-white" disabled>
                      <mat-icon *ngIf="subdiario.estado=='A'" class="active-icon green-600 s-16">check</mat-icon>
                      <mat-icon *ngIf="subdiario.estado=='I'" class="active-icon red-500 s-16">close</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let subdiario">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" title='Editar SubDiario' (click)="registrarSubDiario(subdiario.subdiario,'editar')"><mat-icon>edit</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let subdiario">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" title='Eliminar SubDiario' (click)="eliminarSubDiario(subdiario.subdiario)"><mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-header-row *matRowDef="let subdiario; columns: displayedColumns;" class="subdiario">
                </mat-header-row>

            </mat-table>

            <div *ngIf="dataSource.data.length === 0" class="no-records">
                {{resultado}}
            </div>


            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <button mat-raised-button (click)="exportarSubDiario()" class="add-product-button blue-grey mt-24 mt-md-0" title='Generar Reporte / Descargar Información'><mat-icon>save_alt</mat-icon></button>
                    <span fxFlex></span>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

    </div>

</div>



