<div id="cuentabancaria-form" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
  
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/contabilidad/mantenimiento/cuentabancaria'">
                <mat-icon>arrow_back</mat-icon>
              </button>

              <div class="logo mb-24 mb-md-0"
                  fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    description
                  </mat-icon>
                  <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h3" *ngIf="misDatos.action=='editar'"> 
                        Editar Entidad Financiera - {{this.ente.nombres}}
                    </div>
                   
                </div>
              </div>
          </div>
            <!-- / APP TITLE -->
            <!-- SAVE BUTTON -->     

            <!-- / SAVE BUTTON -->
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card">

          <!-- CONTENT -->
          <div class="content"> 
            <mat-tab-group dynamicHeight class="cuentabancaria-form-table">

              <mat-tab label="Cuentas Bancarias">
                <div class="cuentabancaria-container">
                  <div class="card">
                    <div fxLayout="row" fxLayoutAlign="center center" class="header accent">
                      <span class="headerlist" fxFlex="30">&nbsp;Cuenta Bancaria</span>
                      <span class="header" fxFlex="80"></span>
                      <button mat-icon-button matSuffix fxFlex="20" title='Agregar Cuenta Bancaria' (click)="registrarCuentaBancaria('','insertar')">
                        <mat-icon>add_circle_outline</mat-icon><span class="header">Agregar</span>
                      </button>
                    </div>    
                  
                    <div>

                      <mat-table class="cuentabancaria-table" [dataSource]="listaEnteCuentaBancaria" matSort >
          
                        <ng-container matColumnDef="cuentabancaria">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Número Cuenta Bancaria</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteCuentaBancaria">
                            <p class="text-default">{{listaEnteCuentaBancaria.cuentabancaria}}</p>
                          </mat-cell>
                        </ng-container>   

                        <ng-container matColumnDef="cuentainterbancaria">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Número Cuenta InterBancaria</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteCuentaBancaria">
                            <p class="text-default">{{listaEnteCuentaBancaria.cuentainterbancaria}}</p>
                          </mat-cell>
                        </ng-container> 

                        <ng-container matColumnDef="denominacion">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteCuentaBancaria">
                            <p class="text-default">{{listaEnteCuentaBancaria.nombrecuentabancaria}}</p>
                          </mat-cell>
                        </ng-container>   

                        <ng-container matColumnDef="tipocuenta">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Cuenta</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteCuentaBancaria">
                            <p class="text-default">{{listaEnteCuentaBancaria.descripciontipocuentabancaria}}</p>
                          </mat-cell>
                        </ng-container>  

                        <ng-container matColumnDef="cuentacontable">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Contable</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteCuentaBancaria">
                            <p class="text-default">{{listaEnteCuentaBancaria.cuenta}} - {{listaEnteCuentaBancaria.descripcioncuenta}}</p>
                          </mat-cell>
                        </ng-container>  

                        <ng-container matColumnDef="estado">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteCuentaBancaria">
                            <p class="text-default">{{listaEnteCuentaBancaria.descripcionestado}}</p>
                          </mat-cell>
                        </ng-container> 

                        <ng-container matColumnDef="editar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteCuentaBancaria">                              
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" title='Editar Cuenta Bancaria' (click)="registrarCuentaBancaria(listaEnteCuentaBancaria.cuentabancaria,'editar')">
                                <mat-icon>edit</mat-icon>
                              </button>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteCuentaBancaria">
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" title='Eliminar Cuenta Bancaria' (click)="eliminarCuentaBancaria(listaEnteCuentaBancaria.cuentabancaria)">
                                <mat-icon>delete</mat-icon>
                              </button>  
                          </mat-cell>
                        </ng-container>         

                        <mat-header-row *matHeaderRowDef="displayedColumnsCuentaBancaria; sticky:true"></mat-header-row>
        
                        <mat-header-row *matRowDef="let listaEnteCuentaBancaria; columns: displayedColumnsCuentaBancaria;" class="cuentabancaria">
                        </mat-header-row>                       
        
                      </mat-table>                       
  
                    </div>
                  </div>
                </div>
              </mat-tab>


            </mat-tab-group>
          </div>
          <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

  </div>
  



