<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="tipodocumentoForm">

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="49">
                    <mat-label>Código Tipo Documento</mat-label>
                    <input matInput name="tipodocumento" formControlName="tipodocumento" (blur)="onBlurTipoDocumento()" [readonly]="edit" required>
                </mat-form-field>    

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="49">
                    <mat-label>Abreviatura</mat-label>
                    <input matInput name="abreviatura"  formControlName="abreviatura">
                </mat-form-field>          
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="100">
                    <mat-label>Descripción</mat-label>
                    <input matInput name="descripcion"  formControlName="descripcion" required>
                </mat-form-field>           
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                        
                <mat-checkbox class="mt-24" 
                    formControlName="indicadorcompra" name="indicadorcompra"                         
                    [checked]="checkIndicadorcompra"                       
                    floatLabel="always" fxFlex="22">
                    Compras
                </mat-checkbox>

                <mat-checkbox class="mt-24" 
                    formControlName="indicadorhonorario" name="indicadorhonorario"                         
                    [checked]="checkIndicadorhonorario"                       
                    floatLabel="always" fxFlex="22">
                    Honorarios
                </mat-checkbox>

                <mat-checkbox class="mt-24" 
                    formControlName="indicadorventa" name="indicadorventa"                         
                    [checked]="checkIndicadorventa"                       
                    floatLabel="always" fxFlex="22">
                    Ventas
                </mat-checkbox>

                <mat-checkbox class="mt-24" 
                    formControlName="indicadorcaja" name="indicadorcaja"                         
                    [checked]="checkIndicadorcaja"                       
                    floatLabel="always" fxFlex="22">
                    Caja
                </mat-checkbox>                      

              </div>

              <div fxLayout="row" fxLayoutAlign="space-between">

                <mat-checkbox class="mt-24" 
                    formControlName="indicadoregreso" name="indicadoregreso"                         
                    [checked]="checkIndicadoregreso"                       
                    floatLabel="always" fxFlex="22">
                    Egreso
                </mat-checkbox>

                <mat-checkbox class="mt-24" 
                    formControlName="indicadoringreso" name="indicadoringreso"                         
                    [checked]="checkIndicadoringreso"                       
                    floatLabel="always" fxFlex="22">
                    Ingreso
                </mat-checkbox>      
                
                <mat-checkbox class="mt-24" 
                    formControlName="indicadordiario" name="indicadordiario"                         
                    [checked]="checkIndicadordiario"                       
                    floatLabel="always" fxFlex="22">
                    Diario
                </mat-checkbox>

                <mat-checkbox class="mt-24" 
                    formControlName="indicadorimportacion" name="indicadorimportacion"                         
                    [checked]="checkIndicadorimportacion"                       
                    floatLabel="always" fxFlex="22">
                    Importación
                </mat-checkbox>     

              </div>

              <div fxLayout="row" fxLayoutAlign="space-between">

                <mat-checkbox class="mt-24" 
                    formControlName="indicadornodomiciliado" name="indicadornodomiciliado"                         
                    [checked]="checkIndicadornodomiciliado"                       
                    floatLabel="always" fxFlex="22">
                    No Domiciliado
                </mat-checkbox>

                <mat-checkbox class="mt-24" 
                    formControlName="indicadorsustentonodom" name="indicadorsustentonodom"                         
                    [checked]="checkIndicadorsustentonodom"                       
                    floatLabel="always" fxFlex="22">
                    Sustento No Dom.
                </mat-checkbox>      
                
                <mat-checkbox class="mt-24" 
                    formControlName="indicadorsunat" name="indicadorsunat"                         
                    [checked]="checkIndicadorsunat"                       
                    floatLabel="always" fxFlex="48">
                    SUNAT
                </mat-checkbox>  

              </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-slide-toggle  class="emt-24"
                    name='estado' formControlName="estado"
                    [checked]="checkEstado" 
                    floatLabel="always" fxFlex="22">
                    Estado
                </mat-slide-toggle>            
            </div>
            
            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

                <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
                    <mat-icon class="mr-8">exit_to_app</mat-icon>
                    {{botonExit}}
                </button>        
        
                <button mat-stroked-button color="accent" [disabled]="tipodocumentoForm.invalid" (click)="grabarTipoDocumento(tipodocumentoForm)">
                        <mat-icon class="mr-8">check_circle</mat-icon>
                        {{botonAceptar}}            
                </button>
            </div>

        </form>

    </div>


</div>


