<div id="cuentaopedocmon" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    format_align_left
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Cuenta Contable por Operación
              </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar" (keyup)="doFilter($event.target.value)">
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- ADD BUTTON -->

            <button mat-raised-button  class="add-product-button fuse-white mt-24 mt-md-0" title='Nuevo SubDiario' (click)="registrarCtaOpeDocMon('','','insertar')">
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
                <span>Nuevo</span>
            </button>
          
              <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="cuentaopedocmon-table" [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="tipodocumento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon">
                        <p class="text-truncate">{{cuentaopedocmon.descripciontipodocumento}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="moneda">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon">
                        <p class="text-truncate">{{cuentaopedocmon.descripcionmoneda}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="compratercero" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Compra Tercero</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon" class="mat-cell">
                        <p class="text-truncate">{{cuentaopedocmon.cuentacompra}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="comprarelacionado" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Compra Relacionado</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon" class="mat-cell">
                        <p class="text-truncate">{{cuentaopedocmon.cuentacomprarel}}</p>
                    </mat-cell>
                </ng-container>               

                <ng-container matColumnDef="ventatercero" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Venta Tercero</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon" class="mat-cell">
                        <p class="text-truncate">{{cuentaopedocmon.cuentaventa}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ventarelacionado" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Venta Relacionado</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon" class="mat-cell">
                        <p class="text-truncate">{{cuentaopedocmon.cuentaventarel}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="honorario" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Honorario</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon" class="mat-cell">
                        <p class="text-truncate">{{cuentaopedocmon.cuentahonorario}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="importacion" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Importación</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon" class="mat-cell">
                        <p class="text-truncate">{{cuentaopedocmon.cuentaimportacion}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nodomiciliado" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>No Domiciliado</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon" class="mat-cell">
                        <p class="text-truncate">{{cuentaopedocmon.cuentanodomiciliado}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nodomiciliadorelacionado" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>No Domiciliado Relacionado</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon" class="mat-cell">
                        <p class="text-truncate">{{cuentaopedocmon.cuentanodomiciliadorel}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon">
                        <button mat-button color="fuse-white" disabled>
                      <mat-icon *ngIf="cuentaopedocmon.estado=='A'" class="active-icon green-600 s-16">check</mat-icon>
                      <mat-icon *ngIf="cuentaopedocmon.estado=='I'" class="active-icon red-500 s-16">close</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" title='Editar Cuenta Contable por Operación' (click)="registrarCtaOpeDocMon(cuentaopedocmon.tipodocumento, cuentaopedocmon.moneda,'editar')"><mat-icon>edit</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let cuentaopedocmon">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" title='Eliminar Cuenta Contable por Operación' (click)="eliminarCtaOpeDocMon(cuentaopedocmon.tipodocumento, cuentaopedocmon.descripciontipodocumento, cuentaopedocmon.moneda, cuentaopedocmon.descripcionmoneda)"><mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-header-row *matRowDef="let cuentaopedocmon; columns: displayedColumns;" class="cuentaopedocmon">
                </mat-header-row>

            </mat-table>

            <div *ngIf="dataSource.data.length === 0" class="no-records">
                {{resultado}}
            </div>


            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <button mat-raised-button (click)="exportarCtaOpeDocMon()" class="add-product-button blue-grey mt-24 mt-md-0" title='Generar Reporte / Descargar Información'><mat-icon>save_alt</mat-icon></button>
                    <span fxFlex></span>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

    </div>

</div>




