<div id="operacioncontable" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
  
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/contabilidad/transacciones/operacioningreso'">
                <mat-icon>arrow_back</mat-icon>
              </button>
  
              <div class="logo mb-24 mb-md-0"
                  fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    description
                  </mat-icon>
                  <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h3" *ngIf="misDatos.action=='editar'"> 
                        Editar Ingreso - {{operacioncontable.operacioncontable}}
                    </div>
                    <div class="h3" *ngIf="misDatos.action=='nuevo'">
                        Nuevo Ingreso
                    </div>
                   
                </div>
              </div>
          </div>
            <!-- / APP TITLE -->
            <!-- SAVE BUTTON -->
          
          <div fxLayout="row" fxLayoutAlign="start center">
  
            <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" [disabled]="operacioncontableForm.invalid" (click)="preGrabarOperacionContable()" title='Grabar Ingreso'>
              <mat-icon class="mr-8">check_circle</mat-icon>
              <span>Grabar</span>
            </button>      
  
            <mat-label fxFlex="1"></mat-label>
  
            <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" (click)="crearOperacionContable()" *ngIf="misDatos.action=='editar'" title='Nuevo Ingreso'>
              <mat-icon class="mr-8">add_circle_outline</mat-icon>
              <span>Nuevo</span>
            </button>
          </div>
            <!-- / SAVE BUTTON -->
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card">
  
          <!-- CONTENT -->
          <div class="content"> 
            <mat-tab-group dynamicHeight class="operacioncontable-table">
              <mat-tab label="Ingreso">
                <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
  
                  <form [formGroup]="operacioncontableForm">               
                    <div class="card">
                      <div fxLayout="row" fxLayoutAlign="space-between">
  
                        <mat-label fxFlex="1"></mat-label>
                        
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="10">
                            <mat-label>Número</mat-label>
                            <input matInput name="operacioncontable" formControlName="operacioncontable" [readonly]="true">           
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="28">
                          <mat-label>Banco</mat-label>
                          <select name='banco' matNativeControl required formControlName="banco" (blur)="modificarBanco()">
                            <option>&nbsp;</option>
                            <option *ngFor="let dato of listaBanco" [value]="dato.codigo">
                                {{dato.nombre}}
                            </option>                    
                          </select>
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="41">
                          <mat-label>Cuenta Banco</mat-label>
                          <select name='cuentabancaria' matNativeControl required formControlName="cuentabancaria">
                            <option>&nbsp;</option>
                            <option *ngFor="let dato of listaCuentaBancaria" [value]="dato.codigo">
                                {{dato.descripcion}}
                            </option>                    
                          </select>
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="18">
                          <mat-label>Estado Contable</mat-label>
                          <select name='estado' matNativeControl required formControlName="estado">
                            <option>&nbsp;</option>
                            <option *ngFor="let dato of listaEstado" [value]="dato.valor">
                                {{dato.descripcion}}
                            </option>                    
                          </select>
                        </mat-form-field>     
  
                        <mat-label fxFlex="1"></mat-label>
  
                      </div>
  
                      <div fxLayout="row" fxLayoutAlign="space-between">
                        
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="39">
                          <mat-label>Tipo de Documento</mat-label>
                          <select name='tipodocumento' matNativeControl required formControlName="tipodocumento" (blur)="modificarTipoDocumento()">
                            <option *ngFor="let dato of listaTipoDocumento" [value]="dato.codigo">
                                {{dato.codigo}} - {{dato.descripcion}}
                            </option>                    
                          </select> 
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="58">
                          <mat-label>SubDiario</mat-label>
                          <select *ngIf="misDatos.action !='editar'" name='subdiario' matNativeControl required formControlName="subdiario" (blur)="obtenerSubDiario()">
                            <option *ngFor="let dato of listaSubDiario" [value]="dato.codigo">
                              {{dato.codigo}} - {{dato.descripcion}}
                            </option>                    
                          </select>
                          <input matInput *ngIf="misDatos.action=='editar'" name="descripcionsubdiario" formControlName="descripcionsubdiario" [readonly]="true">
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                      </div>
  
                      <div fxLayout="row" fxLayoutAlign="space-between">
                        
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="10">
                          <mat-label>Serie</mat-label>
                          <input matInput name="numeroserie" formControlName="numeroserie">
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="28">
                          <mat-label>Nro Documento</mat-label>
                          <input matInput name="numerocomprobanteini" required formControlName="numerocomprobanteini">
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="19">
                          <mat-label>Fecha Contable</mat-label>
                          <input type="date" matInput name="fechaoperacion" required formControlName="fechaoperacion" (blur)="modificarFechaContable()" [readonly]="edit">
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="19">
                          <mat-label>Fecha Emisión</mat-label>
                          <input type="date" matInput name="fechaemision" required formControlName="fechaemision" (blur)="modificarFechaEmision()">
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="18">
                          <mat-label>Fecha Vencimiento</mat-label>
                          <input type="date" matInput name="fechavencimiento" formControlName="fechavencimiento">
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                      </div>                  
  
                      <div fxLayout="row" fxLayoutAlign="space-between">
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="19">
                            <mat-label>Moneda</mat-label>    
                            <select name='moneda' matNativeControl required formControlName="moneda" (blur)="modificarMoneda()">
                              <option *ngFor="let dato of listaMoneda" [value]="dato.valor">
                                  {{dato.descripcion}}
                              </option>                    
                          </select>      
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="19">
                          <mat-label>Tipo de Cambio</mat-label>
                          <select name='tipocambio' matNativeControl required formControlName="tipocambio" (blur)="modificarTipoCambio()">
                            <option>&nbsp;</option>
                            <option *ngFor="let dato of listaTipoCambio" [value]="dato.valor">
                                {{dato.descripcion}}
                            </option>                    
                          </select>
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="19">
                          <mat-label>Tipo Cambio - Origen a Soles</mat-label>
                          <input matInput name="tipocambiosoles" required formControlName="tipocambiosoles" DecimalNumberThree type="text" (blur)="modificarMontoTipoCambio('S')" [readonly]="editTCSoles">
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="19">
                          <mat-label>Tipo Cambio - Dólares a Soles</mat-label>
                          <input matInput name="tipocambiodolares" required formControlName="tipocambiodolares" DecimalNumberThree type="text" (blur)="modificarMontoTipoCambio('D')" [readonly]="editTCDolares">
                        </mat-form-field>
                         
                        <mat-label fxFlex="1"></mat-label>
  
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="18">
                          <mat-label>Importe</mat-label>
                          <input matInput name="precioorigen" required formControlName="precioorigen" DecimalNumberTwo type="text" (blur)="modificarMontos()">
                        </mat-form-field>
  
                        <mat-label fxFlex="1"></mat-label>
  
                      </div>    

                      <div fxLayout="row" fxLayoutAlign="space-between">
  
                        <mat-label fxFlex="1"></mat-label>  

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="39">
                            <mat-label>Medio de Pago</mat-label>    
                            <select name='mediopago' matNativeControl required formControlName="mediopago">
                            <option *ngFor="let dato of listaMedioPago" [value]="dato.valor">
                                {{dato.valor}} - {{dato.descripcion}}
                            </option>                    
                        </select>      
                        </mat-form-field>

                        <mat-label fxFlex="60"></mat-label>  
                      </div>                       
                    </div>                    
  
                    <p>&nbsp;</p>

                    <div class="card">
                        <div fxLayout="row" fxLayoutAlign="space-between">                      
    
                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" appearance="outline" fxFlex="19">
                                <mat-label>Documento de Identidad</mat-label>
                                <input matInput name="ruc" formControlName="ruc" (blur)="obtenerSocioNegocio()">
                                <button mat-icon-button matSuffix (click)="buscarSocioNegocio()" title='Buscar Socio de Negocio'>
                                <mat-icon >search</mat-icon>
                                </button>
                            </mat-form-field>
        
                            <mat-label fxFlex="1"></mat-label>
        
                            <mat-form-field floatLabel="always" appearance="outline" fxFlex="78">
                                <mat-label>Socio de Negocio</mat-label>
                                <select name='entidad' matNativeControl required formControlName="entidad" (blur)="modificarEntidad()">
                                <option>&nbsp;</option>
                                <option *ngFor="let dato of listaSocioNegocio" [value]="dato.codigo">
                                    {{dato.nombre}} - {{dato.documento}}
                                </option>                    
                                </select>
                                <button mat-icon-button matSuffix (click)="refrescarSocioNegocio()" title='Refrescar Socio de Negocio'>
                                <mat-icon>refresh</mat-icon>
                                </button>
                            </mat-form-field>
        
                            <mat-label fxFlex="1"></mat-label> 
    
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
  
                            <mat-label fxFlex="1"></mat-label>
      
                            <mat-form-field floatLabel="always" appearance="outline" fxFlex="98">
                              <mat-label>Glosa</mat-label>
                              <input matInput name="glosa" formControlName="glosa">
                            </mat-form-field>
        
                            <mat-label fxFlex="1"></mat-label>
      
                        </div>
                    </div>

 
                  </form>        
                </div>       
              </mat-tab>
  
              <mat-tab label="Asiento Contable" *ngIf="misDatos.action=='editar'">
                
                <div class="registro-container">
                  <div class="card">
                    <div fxLayout="row" fxLayoutAlign="center center" class="header accent">
                      <span class="headerlist" fxFlex="30">&nbsp;Registros por Naturaleza</span>
                      <span class="header" fxFlex="80"></span>
                      <button mat-icon-button matSuffix fxFlex="25" (click)="preGenerarAsientoAutomatico();" title='Generar Registros Automáticos'>
                        <mat-icon>storage</mat-icon><span class="header">Generar Registros Automáticos</span>
                      </button>
                      <button mat-icon-button matSuffix fxFlex="20" (click)="registrarRegistrocontable(0,'insertar')" title='Generar Nuevo Registro Manual'>
                        <mat-icon>add_circle_outline</mat-icon><span class="header">Nuevo Registro Manual</span>
                      </button>
                    </div>    
                  
                    <div >
                      <mat-table class="registrocontable-table" [dataSource]="listaAsientoContableNaturaleza"  matSort >
          
                          <ng-container matColumnDef="cuentacontable">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Contable</mat-header-cell>
                              <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                                <p class="text-success" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.cuentacontable}}</p>
                                <p class="text-default" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.cuentacontable}}</p>                                
                              </mat-cell>
                              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container>
          
                          <ng-container matColumnDef="proveedor">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Socio Negocio</mat-header-cell>
                              <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                                <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.nombreentidad}}</p>
                                <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.nombreentidad}}</p>
                              </mat-cell>
                              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container>
          
                          <ng-container matColumnDef="tipoanotacion">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>D/H</mat-header-cell>
                              <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                                <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.descripciontipoanotacion}}</p>
                                <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.descripciontipoanotacion}}</p>
                              </mat-cell>
                              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container>       
  
                          <ng-container matColumnDef="centrocosto">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Centro Costo</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.descripcioncentrocosto}}</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.descripcioncentrocosto}}</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container>  
  
                          <ng-container matColumnDef="porcentaje">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>%</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.porcentajecentrocosto}}</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.porcentajecentrocosto}}</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container>         
  
                          <ng-container matColumnDef="tipodocumento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.descripciontipodocumento}}</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.descripciontipodocumento}}</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="serie">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>N° Serie</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.numeroserie}}</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.numeroserie}}</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="documento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>N° Documento</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.numerocomprobanteini}}</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.numerocomprobanteini}}</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container> 
  
                          <ng-container matColumnDef="fechaemision">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Emisión</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.fechaemision}}</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.fechaemision}}</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="fechaven">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Vencimiento</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.fechavencimiento}}</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.fechavencimiento}}</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef class='mat-column-totales'>
                              <table>
                                <tr><td>Debe&nbsp;</td></tr>
                                <tr><td>Haber&nbsp;</td></tr>
                                <tr><td>Diferencia&nbsp;</td></tr>
                              </table>
                            </mat-footer-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="imporigen">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Importe Mon.Origen</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.montoorigen | number:'1.2-2':'en'}}&nbsp;&nbsp;</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.montoorigen | number:'1.2-2':'en'}}&nbsp;&nbsp;</p>
                            </mat-cell>
                 
                            <mat-footer-cell *matFooterCellDef class="mat-column-totales">
                              <table>
                                <tr><td>{{getTotalImpOrigenDebe() | number:'1.2-2':'en'}}</td></tr>
                                <tr><td>{{getTotalImpOrigenHaber() | number:'1.2-2':'en'}}</td></tr>
                                <tr><td>{{getTotalImpOrigen() | number:'1.2-2':'en'}}</td></tr>
                              </table>
                            </mat-footer-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="impnacional">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Importe Mon.Nacional</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.montonacional | number:'1.2-2':'en'}}&nbsp;&nbsp;</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.montonacional | number:'1.2-2':'en'}}&nbsp;&nbsp;</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef class="mat-column-totales">
                              <table>
                                <tr><td>{{getTotalImpNacionalDebe() | number:'1.2-2':'en'}}</td></tr>
                                <tr><td>{{getTotalImpNacionalHaber() | number:'1.2-2':'en'}}</td></tr>
                                <tr><td>{{getTotalImpNacional() | number:'1.2-2':'en'}}</td></tr>
                              </table>
                            </mat-footer-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="impextranjera">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Importe Mon.Dólares</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.montodolares | number:'1.2-2':'en'}}&nbsp;&nbsp;</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.montodolares | number:'1.2-2':'en'}}&nbsp;&nbsp;</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef class="mat-column-totales">
                              <table>
                                <tr><td>{{getTotalImpDolaresDebe() | number:'1.2-2':'en'}}</td></tr>
                                <tr><td>{{getTotalImpDolaresHaber() | number:'1.2-2':'en'}}</td></tr>
                                <tr><td>{{getTotalImpDolares() | number:'1.2-2':'en'}}</td></tr>
                              </table>
                            </mat-footer-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="mediopago">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Medio Pago</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.descripcionmediopago}}</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.descripcionmediopago}}</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="glosa">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Glosa</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza" (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)">
                              <p class="text-green" *ngIf="listaAsientoContableNaturaleza.tiporegistro=='A'">{{listaAsientoContableNaturaleza.glosa}}</p>
                              <p class="text-black" *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">{{listaAsientoContableNaturaleza.glosa}}</p>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container> 
  
                          <ng-container matColumnDef="editar">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza">                              
                                <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" (click)="registrarRegistrocontable(listaAsientoContableNaturaleza.registrocontable,'editar')" title='Editar Registro Contable'>
                                  <mat-icon>edit</mat-icon>
                                </button>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="eliminar">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableNaturaleza">
                                <!-- <button mat-stroked-button color="fuse-white" aria-label="eliminar" title='Eliminar Registro Contable' 
                                  *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'">
                                  <mat-icon>delete</mat-icon>
                                </button>   -->
                                <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" (click)="eliminarRegistrocontable(listaAsientoContableNaturaleza.registrocontable)" title='Eliminar Registro Contable'
                                  *ngIf="listaAsientoContableNaturaleza.tiporegistro!='A'"
                                  >
                                  <mat-icon>delete</mat-icon>
                                </button>  
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                          </ng-container>         
  
                          <mat-header-row *matHeaderRowDef="displayedColumnsNaturaleza; sticky:true"></mat-header-row>
          
                          <mat-header-row *matRowDef="let listaAsientoContablenaturaleza; columns: displayedColumnsNaturaleza;" class="operacioncontable">
                          </mat-header-row>
  
                          <!-- <mat-header-row *matRowDef="let listaAsientoContablenaturaleza; columns: displayedColumnsNaturaleza;" 
                            class="operacioncontable"
                            matRipple (click)="obtenerRegistroContableDestino(listaAsientoContableNaturaleza.registrocontable)"
                          >
                          </mat-header-row> -->
  
                         
  
                          
                          <mat-footer-row *matFooterRowDef="displayedColumnsNaturaleza" class="listaAsientoContableNaturaleza"></mat-footer-row>                       
        
                      </mat-table>                       
  
                    </div>
                  </div>
                </div>
  
                <div class="registro-container">
                  <div class="card">
                    <div fxLayout="row" fxLayoutAlign="center center" class="header accent">
                      <span class="headerlist" fxFlex="100">&nbsp;Registros por Destino</span>                      
                    </div>    
                    
                    <div >
                      <mat-table class="registrocontable-table" #table [dataSource]="listaAsientoContableDestino"  matSort [@animateStagger]="{value:'50'}">
          
                          <ng-container matColumnDef="cuentacontable">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Contable</mat-header-cell>
                              <mat-cell *matCellDef="let listaAsientoContableDestino">
                                  <p class="text-truncate">{{listaAsientoContableDestino.cuentacontable}}</p>
                              </mat-cell>
                          </ng-container>
          
                          <ng-container matColumnDef="proveedor">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Socio Negocio</mat-header-cell>
                              <mat-cell *matCellDef="let listaAsientoContableDestino">
                                  <p class="text-truncate">{{listaAsientoContableDestino.nombreentidad}}</p>
                              </mat-cell>
                          </ng-container>
          
                          <ng-container matColumnDef="tipoanotacion">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>D/H</mat-header-cell>
                              <mat-cell *matCellDef="let listaAsientoContableDestino">
                                  <p class="text-truncate">{{listaAsientoContableDestino.descripciontipoanotacion}}</p>
                              </mat-cell>
                          </ng-container>       
  
                          <ng-container matColumnDef="centrocosto">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Centro Costo</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.descripcioncentrocosto}}</p>
                            </mat-cell>
                          </ng-container>  
  
                          <ng-container matColumnDef="porcentaje">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>%</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.porcentajecentrocosto}}</p>
                            </mat-cell>
                          </ng-container>         
  
                          <ng-container matColumnDef="tipodocumento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.descripciontipodocumento}}</p>
                            </mat-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="serie">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>N° Serie</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.numeroserie}}</p>
                            </mat-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="documento">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>N° Documento</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.numerocomprobanteini}}</p>
                            </mat-cell>
                          </ng-container> 
  
                          <ng-container matColumnDef="fechaemision">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Emisión</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.fechaemision}}</p>
                            </mat-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="fechaven">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Vencimiento</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.fechavencimiento}}</p>
                            </mat-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="imporigen">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Importe Mon.Origen</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.montoorigen | number:'1.2-2':'en'}}&nbsp;&nbsp;</p>
                            </mat-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="impnacional">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Importe Mon.Nacional</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.montonacional | number:'1.2-2':'en'}}&nbsp;&nbsp;</p>
                            </mat-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="impextranjera">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Importe Mon.Extranjera</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.montodolares | number:'1.2-2':'en'}}&nbsp;&nbsp;</p>
                            </mat-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="mediopago">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Medio Pago</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.descripcionmediopago}}</p>
                            </mat-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="glosadestino">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Glosa</mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <p class="text-truncate">{{listaAsientoContableDestino.glosa}}</p>
                            </mat-cell>
                          </ng-container> 
  
                          <ng-container matColumnDef="editar">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <button mat-stroked-button color="fuse-white" aria-label="editar" title='Editar Registro Contable'><mat-icon>edit</mat-icon></button>
                            </mat-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="eliminar">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let listaAsientoContableDestino">
                                <button mat-stroked-button color="fuse-white" aria-label="eliminar" title='Eliminar Registro Contable'><mat-icon>delete</mat-icon></button>
                            </mat-cell>
                          </ng-container>                          
  
                          <mat-header-row *matHeaderRowDef="displayedColumnsDestino; sticky:true"></mat-header-row>
          
                          <mat-header-row *matRowDef="let listaAsientoContableDestino; columns: displayedColumnsDestino;" class="listaAsientoContableDestino">
                          </mat-header-row>
          
                      </mat-table>      
                    </div>
                  </div>
                </div>
  
              </mat-tab>
  
              <mat-tab label="Dimensiones" *ngIf="misDatos.action=='editar'"></mat-tab>
  
            </mat-tab-group>
          </div>
          <!-- / CONTENT -->
  
        </div>
        <!-- / CONTENT CARD -->
  
    </div>
    <!-- / CENTER -->
  
  </div>
  
  
  
  
