<div id="tipocambio" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    format_align_left
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Tipo de Cambio
              </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar Tipo de Cambio" (keyup)="doFilter($event.target.value)">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->

            <button mat-raised-button (click)="crearTipoCambio()" class="add-product-button fuse-white mt-24 mt-md-0" title='Nuevo Tipo de Cambio'>
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
              <span>Nuevo</span>
            </button>
        
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="tipocambio-table" [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                    <mat-cell *matCellDef="let tipocambio">
                        <p class="text-truncate">{{tipocambio.fecha}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="moneda">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</mat-header-cell>
                    <mat-cell *matCellDef="let tipocambio">
                        <p class="text-truncate">{{tipocambio.descripcionmoneda}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipocambiocompra">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Cambio Compra</mat-header-cell>
                    <mat-cell *matCellDef="let tipocambio">
                        <p class="text-truncate">{{tipocambio.tipocambiocompra}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipocambioventa" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Cambio Venta</mat-header-cell>
                    <mat-cell *matCellDef="let tipocambio" class="mat-cell">
                        <p class="text-truncate">{{tipocambio.tipocambioventa}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipocambiocierre" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Cambio Cierre</mat-header-cell>
                    <mat-cell *matCellDef="let tipocambio" class="mat-cell">
                        <p class="text-truncate">{{tipocambio.descripcionindicadorcierre}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let tipocambio">
                        <button mat-button color="fuse-white" disabled>
                      <mat-icon *ngIf="tipocambio.estado=='A'" class="active-icon green-600 s-16">check</mat-icon>
                      <mat-icon *ngIf="tipocambio.estado=='I'" class="active-icon red-500 s-16">close</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let tipocambio">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" (click)="editarTipoCambio(tipocambio.vez)" title='Editar Tipo Cambio'><mat-icon>edit</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let tipocambio">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" (click)="eliminarTipoCambio(tipocambio.fecha, tipocambio.vez)"  title='Eliminar Tipo de Cambio'><mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-header-row *matRowDef="let tipocambio; columns: displayedColumns;" class="tipocambio">
                </mat-header-row>

            </mat-table>

            <div *ngIf="dataSource.data.length === 0" class="no-records">
                {{resultado}}
            </div>


            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <button mat-raised-button (click)="exportarTipoCambio()" class="add-product-button blue-grey mt-24 mt-md-0" title='Generar Reporte / Descargar Información'><mat-icon>save_alt</mat-icon></button>
                    <span fxFlex></span>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

    </div>

</div>

