<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="periodoForm">


            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="accion === 'editar'">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="95">
                    <mat-label>Mes de Proceso</mat-label>
                    <input matInput name="mes"  formControlName="mes" [readonly]="true">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-slide-toggle  class="emt-24"
                    name='estado' formControlName="estado"
                    [checked]="checkEstado" 
                    floatLabel="always" fxFlex="95">
                    Estado
                </mat-slide-toggle>
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>

            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

                <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
                    <mat-icon class="mr-8">exit_to_app</mat-icon>
                    {{botonExit}}
                </button>
        
                <button *ngIf="accion !== 'editar'" mat-stroked-button color="accent" [disabled]="periodoForm.invalid" (click)="aceptarPeriodo(periodoForm)">
                        <mat-icon class="mr-8">check_circle</mat-icon>
                        {{botonAgregar}}
                </button>
        
                <button *ngIf="accion === 'editar'" mat-stroked-button color="accent" [disabled]="periodoForm.invalid" (click)="aceptarPeriodo(periodoForm)">
                        <mat-icon class="mr-8">check_circle</mat-icon>
                        {{botonAceptar}}            
                </button>
            </div>
        </form>

    </div>


</div>


