<div id="socionegocio-form" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
  
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/contabilidad/mantenimiento/socionegocio'">
                <mat-icon>arrow_back</mat-icon>
              </button>

              <div class="logo mb-24 mb-md-0"
                  fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    description
                  </mat-icon>
                  <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h3" *ngIf="misDatos.action=='editar'"> 
                        Editar Socio de Negocio
                    </div>
                    <div class="h3" *ngIf="misDatos.action=='nuevo'">
                        Nuevo Socio de Negocio
                    </div>
                   
                </div>
              </div>
          </div>
            <!-- / APP TITLE -->
            <!-- SAVE BUTTON -->


            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" [disabled]="enteForm.invalid" title='Grabar Socio Negocio' (click)="grabarEnte()">
                    <mat-icon class="mr-8">check_circle</mat-icon>
                    <span>Grabar</span>
                </button>     
      
                <mat-label fxFlex="1"></mat-label>
      
                <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" (click)="crearEnte()" *ngIf="misDatos.action=='editar'" title='Nuevo Socio de Negocio'>
                  <mat-icon class="mr-8">add_circle_outline</mat-icon>
                  <span>Nuevo</span>
                </button>
              </div>
           

            <!-- / SAVE BUTTON -->
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card">

          <!-- CONTENT -->
          <div class="content"> 
            <mat-tab-group dynamicHeight class="socionegocio-form-table">
              <mat-tab label="Socio Negocio">
                <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

                  <form [formGroup]="enteForm">
                      <div fxLayout="row" fxLayoutAlign="space-between">

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Código</mat-label>
                            <input matInput name="entidad" formControlName="entidad" [readonly]="true">                             
                        </mat-form-field>         

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                          <mat-label>Tipo de Persona</mat-label>
                          <select name='tipopersona' matNativeControl  formControlName="tipopersona" required (blur)="modificarTipoPersona()"> 
                              <option *ngFor="let dato of listaTipoPersona" [value]="dato.valor">
                                  {{dato.descripcion}}
                              </option>                    
                          </select>
                        </mat-form-field>
                        
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                          <mat-label>Documento de Identidad</mat-label>
                          <input matInput name="ruc" formControlName="ruc" required (blur)="onBlurSocioNegocioRUC()">
                        </mat-form-field>

                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30" *ngIf="requiredApe">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput name="apellidopaterno"  formControlName="apellidopaterno" [required]="requiredApe">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30" *ngIf="requiredApe">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput name="apellidomaterno"  formControlName="apellidomaterno" [required]="requiredApe">
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30" *ngIf="requiredApe" >
                          <mat-label>Nombre</mat-label>
                          <input matInput name="nombres" formControlName="nombres" required>
                        </mat-form-field>      

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="65" *ngIf="!requiredApe">
                          <mat-label>Nombre</mat-label>
                          <input matInput name="nombres" formControlName="nombres" required>
                        </mat-form-field>     

                        <!-- <mat-form-field floatLabel="always" appearance="outline" fxFlex="30" *ngIf="this.ente.tipopersona === 'N'" >
                            <mat-label>Nombre</mat-label>
                            <input matInput name="nombres" formControlName="nombres" required>
                        </mat-form-field>      

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="65" *ngIf="this.ente.tipopersona === 'J'">
                          <mat-label>Nombre</mat-label>
                          <input matInput name="nombres" formControlName="nombres" required>
                        </mat-form-field>                     -->

                      </div>                       

                      <div fxLayout="row" fxLayoutAlign="space-between">

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                          <mat-label>Pais</mat-label>
                          <select name='pais' matNativeControl  formControlName="pais">    
                              <option>&nbsp;</option>
                              <option *ngFor="let dato of listaPais" [value]="dato.valor">
                                    {{dato.descripcion}}
                              </option>             
                          </select>
                        </mat-form-field>

                        <mat-checkbox class="emt-24" 
                            formControlName="nodomiciliado" name="nodomiciliado"                         
                            [checked]="checkNoDomiciliado"                       
                            floatLabel="always" fxFlex="30">
                            No Domiciliado
                        </mat-checkbox> 

                        <mat-slide-toggle  class="emt-24"
                            name='estado' formControlName="estado"
                            [checked]="checkEstado" 
                            floatLabel="always" fxFlex="30">
                            Estado
                        </mat-slide-toggle>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">&nbsp;</div>

                  </form>
          
              </div>                 

              </mat-tab>

              <mat-tab label="Anexos" *ngIf="misDatos.action=='editar'">
                <div class="anexo-container">
                  <div class="card">
                    <div fxLayout="row" fxLayoutAlign="center center" class="header accent">
                      <span class="headerlist" fxFlex="30">&nbsp;Anexos</span>
                      <span class="header" fxFlex="80"></span>
                      <button mat-icon-button matSuffix fxFlex="20" title='Agregar Anexo' (click)="registrarAnexo(0,'insertar')">
                        <mat-icon>add_circle_outline</mat-icon><span class="header">Agregar</span>
                      </button>
                    </div>    
                  
                    <div>

                      <mat-table class="anexo-table" [dataSource]="listaEnteSocioNegocio" matSort >
          
                        <ng-container matColumnDef="anexo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Anexo</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteSocioNegocio">
                            <p class="text-default">{{listaEnteSocioNegocio.descripcionsocionegocio}}</p>
                          </mat-cell>
                        </ng-container>   

                        <ng-container matColumnDef="estado">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteSocioNegocio">
                            <p class="text-default">{{listaEnteSocioNegocio.descripcionestado}}</p>
                          </mat-cell>
                        </ng-container> 

                        <ng-container matColumnDef="editar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteSocioNegocio">                              
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" title='Editar Anexo' (click)="registrarAnexo(listaEnteSocioNegocio.vez,'editar')">
                                <mat-icon>edit</mat-icon>
                              </button>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteSocioNegocio">
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" title='Eliminar Anexo' (click)="eliminarAnexo(listaEnteSocioNegocio.vez)">
                                <mat-icon>delete</mat-icon>
                              </button>  
                          </mat-cell>
                        </ng-container>         

                        <mat-header-row *matHeaderRowDef="displayedColumnsSocioNegocio; sticky:true"></mat-header-row>
        
                        <mat-header-row *matRowDef="let listaEnteSocioNegocio; columns: displayedColumnsSocioNegocio;" class="anexo">
                        </mat-header-row>                       
        
                      </mat-table>                       
  
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Documentos de Identidad" *ngIf="misDatos.action=='editar'">
                <div class="documento-container">
                  <div class="card">
                    <div fxLayout="row" fxLayoutAlign="center center" class="header accent">
                      <span class="headerlist" fxFlex="30">&nbsp;Documentos de Identidad</span>
                      <span class="header" fxFlex="80"></span>
                      <button mat-icon-button matSuffix fxFlex="20" title='Agregar Documento de Identidad' (click)="registrarDocumento(0,'insertar')">
                        <mat-icon>add_circle_outline</mat-icon><span class="header">Agregar</span>
                      </button>
                    </div>    
                  
                    <div>

                      <mat-table class="documento-table" [dataSource]="listaEnteDocumentoIdentidad" matSort >
          
                        <ng-container matColumnDef="tipodocumento">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDocumentoIdentidad">
                            <p class="text-default">{{listaEnteDocumentoIdentidad.descripciondocumentoidentidad}}</p>
                          </mat-cell>
                        </ng-container>   

                        <ng-container matColumnDef="numero">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Número de Documento</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDocumentoIdentidad">
                            <p class="text-default">{{listaEnteDocumentoIdentidad.numerodocumento}}</p>
                          </mat-cell>
                        </ng-container>  

                        <ng-container matColumnDef="estado">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDocumentoIdentidad">
                            <p class="text-default">{{listaEnteDocumentoIdentidad.descripcionestado}}</p>
                          </mat-cell>
                        </ng-container> 

                        <ng-container matColumnDef="editar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDocumentoIdentidad">                              
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" title='Editar Documento Identidad' (click)="registrarDocumento(listaEnteDocumentoIdentidad.vez,'editar')">
                                <mat-icon>edit</mat-icon>
                              </button>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDocumentoIdentidad">
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" title='Eliminar Documento Identidad' (click)="eliminarDocumento(listaEnteDocumentoIdentidad.vez)">
                                <mat-icon>delete</mat-icon>
                              </button>  
                          </mat-cell>
                        </ng-container>         

                        <mat-header-row *matHeaderRowDef="displayedColumnsDocumentoIdentidad; sticky:true"></mat-header-row>
        
                        <mat-header-row *matRowDef="let listaEnteDocumentoIdentidad; columns: displayedColumnsDocumentoIdentidad;" class="documento">
                        </mat-header-row>                       
        
                      </mat-table>                       
  
                    </div>
                  </div>
                </div>

              </mat-tab>

              <mat-tab label="Domicilios" *ngIf="misDatos.action=='editar'">
                <div class="domicilio-container">
                  <div class="card">
                    <div fxLayout="row" fxLayoutAlign="center center" class="header accent">
                      <span class="headerlist" fxFlex="30">&nbsp;Domicilios</span>
                      <span class="header" fxFlex="80"></span>
                      <button mat-icon-button matSuffix fxFlex="20" title='Agregar Domicilio' (click)="registrarDomicilio(0,'insertar')">
                        <mat-icon>add_circle_outline</mat-icon><span class="header">Agregar</span>
                      </button>
                    </div>    
                  
                    <div>

                      <mat-table class="domicilio-table" [dataSource]="listaEnteDomicilio" matSort >
          
                        <ng-container matColumnDef="tipodomicilio">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Domicilio</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDomicilio">
                            <p class="text-default">{{listaEnteDomicilio.descripciontipodomicilio}}</p>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="direccion">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDomicilio">
                            <p class="text-default">{{listaEnteDomicilio.direccion}}</p>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="pais">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>País</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDomicilio">
                            <p class="text-default">{{listaEnteDomicilio.nombrepais}}</p>
                          </mat-cell>
                        </ng-container>  

                        <ng-container matColumnDef="ubicaciongeografica">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Ubicación Geográfica</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDomicilio">
                            <p class="text-default">{{listaEnteDomicilio.descripcionubigeo}}</p>
                          </mat-cell>
                        </ng-container>                            

                        <ng-container matColumnDef="estado">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDomicilio">
                            <p class="text-default">{{listaEnteDomicilio.descripcionestado}}</p>
                          </mat-cell>
                        </ng-container> 

                        <ng-container matColumnDef="editar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDomicilio">                              
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" title='Editar Domicilio' (click)="registrarDomicilio(listaEnteDomicilio.vez,'editar')">
                                <mat-icon>edit</mat-icon>
                              </button>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaEnteDomicilio">
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" title='Eliminar Domicilio' (click)="eliminarDomicilio(listaEnteDomicilio.vez)">
                                <mat-icon>delete</mat-icon>
                              </button>  
                          </mat-cell>
                        </ng-container>         

                        <mat-header-row *matHeaderRowDef="displayedColumnsDomicilio; sticky:true"></mat-header-row>
        
                        <mat-header-row *matRowDef="let listaEnteDomicilio; columns: displayedColumnsDomicilio;" class="domiclio">
                        </mat-header-row>                       
        
                      </mat-table>                       
  
                    </div>
                  </div>
                </div>

              </mat-tab>

              <mat-tab label="Medios de Contacto" *ngIf="misDatos.action=='editar'">

              </mat-tab>

            </mat-tab-group>
          </div>
          <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

  </div>
  


