<div id="operacionventa" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    attach_money
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Operación Contable - Ventas
              </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar Operaciones Contables - Ventas" (keyup)="doFilter($event.target.value)">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->

            <button mat-raised-button (click)="crearOperacionContable()" class="add-product-button fuse-white mt-24 mt-md-0" title='Nueva Venta'>
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
              <span>Nuevo</span>
            </button>
        
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="operacionventa-table"  [dataSource]="dataSource" matSort >

                <ng-container matColumnDef="operacioncontable">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código Operación</mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable">
                        <p class="text-truncate">{{operacioncontable.operacioncontable}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fechaoperacion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Contable</mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable">
                        <p class="text-truncate">{{operacioncontable.fechaoperacion}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="descripcionestado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable">
                        <p class="text-truncate">{{operacioncontable.descripcionestado}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ruc" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Documento Identidad</mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable" class="mat-cell">
                        <p class="text-truncate">{{operacioncontable.ruc}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombreentidad" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable" class="mat-cell">
                        <p class="text-truncate">{{operacioncontable.nombreentidad}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="descripciontipodocumento" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable" class="mat-cell">
                        <p class="text-truncate">{{operacioncontable.descripciontipodocumento}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="numeroserie" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Serie</mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable" class="mat-cell">
                        <p class="text-truncate">{{operacioncontable.numeroserie}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="numerocomprobanteini" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Número</mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable" class="mat-cell">
                        <p class="text-truncate">{{operacioncontable.numerocomprobanteini}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="descripcionsubdiario" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>SubDiario</mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable" class="mat-cell">
                        <p class="text-truncate">{{operacioncontable.descripcionsubdiario}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let operacioncontable"> &nbsp;&nbsp;
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" (click)="editarOperacionContable(operacioncontable.operacioncontable)" title='Editar Operación Contable - Compras'><mat-icon>edit</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-header-row *matRowDef="let operacioncontable; columns: displayedColumns;" class="operacioncontable">
                </mat-header-row>

            </mat-table>

            <div *ngIf="dataSource.data.length === 0" class="no-records">
                {{resultado}}
            </div>


            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <button mat-raised-button (click)="exportarOperacionContable()" class="add-product-button blue-grey mt-24 mt-md-0" title='Generar Reporte / Descargar Información'><mat-icon>save_alt</mat-icon></button>
                    <span fxFlex></span>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

    </div>

</div>

