<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="usuarioForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Código Usuario</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="username" formControlName="username" matInput [readonly]="edit" (blur)="onBlurUsuario()" required onkeyup="javascript:this.value=this.value.toUpperCase();">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Nombre</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="nombre" formControlName="nombre" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Sexo</mat-label>
                    <select name='sexo' matNativeControl required formControlName="sexo">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                      </select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Correo</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="email" formControlName="email" matInput type="email" placeholder="Ex. gez@example.com">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Teléfono</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input name="telefono" formControlName="telefono" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <mat-slide-toggle  class="emt-24"
                    name='estado' formControlName="estado"
                    [checked]="checkEstado" 
                    floatLabel="always">
                    Estado
                </mat-slide-toggle>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            {{botonExit}}
        </button>

        <button *ngIf="action !== 'editar'" mat-stroked-button color="accent" [disabled]="usuarioForm.invalid" [hidden]="hidegrabar" (click)="crearUsuario(usuarioForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAgregar}}
        </button>

        <button *ngIf="action === 'editar'" mat-stroked-button color="accent" [disabled]="usuarioForm.invalid" [hidden]="hidegrabar" (click)="editarUsuario(usuarioForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAceptar}}            
        </button>
    </div>
</div>