@import "src/@fuse/scss/fuse";
gez-tipodocumentoinicio {
    #tipodocumentoinicio {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }
        >.center {
            >.header {
                min-height: 15% !important;
                height: auto !important;
                .search-wrapper {
                    font-size: 0.9em; //
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);
                    @include media-breakpoint('xs') {
                        width: 100%;
                    }
                    .search {
                        width: 100%;
                        height: 38px;
                        line-height: 48px;
                        padding: 0 18px;
                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }
                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }
    .tipodocumentoinicio-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        text-align: center !important;
        .mat-header-row {
            min-height: 36px;
        }
        .mat-header-cell {
            min-height: 41px; // 
            font-size: 0.8em;
            color: rgb(15, 65, 145);
            text-align: center !important;
        }
        .mat-cell {
            font-size: 0.8em;
            min-width: 0;
            display: flex;
            text-align: center !important;
            min-height: 26px; // 
            max-height: 26px; // 
        }
        .active-icon {
            border-radius: 50% !important;
        }
        .mat-icon{
            border-radius: 100% !important;
            transform: scale(0.8);
        }
        .texto-icon{
            font-size: 0.8em !important;
        }
        .mat-paginator {
            font-size: 0.58em ; 
        }
        
        .mat-table__wrapper .mat-table {
            min-width: auto !important;
            width: 100% !important;
            table-layout: fixed;
            min-height: 6px; // 
            max-height: 6px; //
            text-align: center !important;
        }
        
        .mat-column-descripcion {
            flex: 0 0 40% !important;
            min-width: 15px !important;
            text-align: center !important;
        }
        
        .mat-column-descripcionvalor {
            flex: 0 0 43% !important;
            min-width: 30px !important;            
        }            

        .mat-column-estado {
            flex: 10 10 10% !important;
            min-width: 30px !important;
        }
        
        .mat-column-editar {
            flex: 10 10 7% !important;
            min-width: 30px !important;
        }
        
    }
}

