<ng-template #modalCreateUser let-modal>
  <div class="modal-header custom-modal-header">
    <h4 *ngIf="idBrandEdit==undefined"  class="modal-title" id="modal-basic-title">Crear Marca</h4>
    <h4 *ngIf="idBrandEdit!=undefined"  class="modal-title" id="modal-basic-title">Editar Marca</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>   

  </div>
  


  <div class="modal-body">

    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div *ngIf="idBrandEdit!=undefined" class="form-group row">
        <label class="col-md-2 col-form-label  offset-md-1" for="text-input">Id</label>
        <div class="col-md-7">
          <input disabled type="text" [(ngModel)]="idBrandEdit" id="text-input" name="code-input" class="form-control">
        </div>
      </div>
  




      <div class="form-group row">
        <label class="col-md-2 col-form-label  offset-md-1" for="text-input">Username</label>
        <div class="col-md-7">
          <input [disabled]="disabledAll" name="username" [(ngModel)]="createUser.username" type="text" id="text-input" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label  offset-md-1" for="text-input">Nombre</label>
        <div class="col-md-7">
          <input [disabled]="disabledAll" name="name" [(ngModel)]="createUser.nombre" type="text" id="text-input" class="form-control">
        </div>
      </div>


      <div class="form-group row">
        <label class="col-md-2 col-form-label  offset-md-1" for="text-input">Password</label>
        <div class="col-md-7">
          <input [disabled]="disabledAll" name="password" [(ngModel)]="createUser.password" type="text" id="text-input" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label  offset-md-1" for="text-input">Telefono</label>
        <div class="col-md-7">
          <input [disabled]="disabledAll" name="telefono" [(ngModel)]="createUser.telefono" type="text" id="text-input" class="form-control">
        </div>
      </div>

      
      <div class="form-group row">
        <label class="col-md-2 col-form-label  offset-md-1" for="text-input">Sexo</label>
        <div class="col-md-7">
          <input [disabled]="disabledAll" name="sexo" [(ngModel)]="createUser.sexo" type="text" id="text-input" class="form-control">
        </div>
      </div>

  <div class="form-group row">
        <label class="col-md-2 col-form-label  offset-md-1" for="text-input">Licencia</label>
        <div class="col-md-7">
          <input [disabled]="disabledAll" name="codLicencia" [(ngModel)]="createUser.codLicencia" type="text" id="text-input" class="form-control">
        </div>
      </div>
 

   
  
        <div class="form-group row">
        <div  class="col-md-10 col-form-label offset-md-1"><span style="color:red">{{messageErrorFormBrand}}</span></div>
        </div>
    </form>
  </div>
  <div class="modal-footer" >
    <button *ngIf="idBrandEdit==undefined" type="button" class="btn btn  btn-primary" 
    (click)="createPerson(modal)">Guardar</button>

    <button  *ngIf="idBrandEdit!=undefined" type="button" class="btn btn  btn-primary" 
    (click)="editBrand(modal)">Editar</button>
  </div>
</ng-template>



<div class="page-layout blank p-24" fusePerfectScrollbar>
<div class="container">
  <!--
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>
-->

<div class="container">

<div class="row">
    <div class="col-md-12">
      <button  style="float: right;" type="button" (click)="openDialogCreateUser()" class="btn  btn-success active"
        aria-pressed="true">Crear Marca</button>
      <br>
      <br>
    </div>
  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button  mat-raised-button class="add-product-button red mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button pink mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button purple mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button deep-purple mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button indigo mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button blue mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button light-blue mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button cyan mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button teal mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button green mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button light-green mt-24 mt-md-0">Grabar</button>
  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button  mat-raised-button class="add-product-button lime mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button yellow mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button amber mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button orange mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button deep-orange mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button brown mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button grey mt-14 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button blue-grey mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button fuse-navy mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0">Grabar</button>
    <button  mat-raised-button class="add-product-button fuse-black mt-24 mt-md-0">Grabar</button>
  </div>


  <div class="row">
    <div class="col-md-12">
      
      <ngx-datatable

            class="material"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [limit]="10">


             


            <ngx-datatable-column name="username" prop="username" ></ngx-datatable-column>

            <ngx-datatable-column name="username" prop="username"></ngx-datatable-column>

            <ngx-datatable-column name="password" prop="password"></ngx-datatable-column>

              <ngx-datatable-column name="email" prop="email"></ngx-datatable-column>

            <ngx-datatable-column name="telefono" prop="telefono"></ngx-datatable-column>

            <ngx-datatable-column name="codLicencia" prop="codLicencia"></ngx-datatable-column>
        

                <ngx-datatable-column >

                <ng-template ngx-datatable-cell-template let-row="row">
                    <span (click)="delete(row)">Eliminar</span>
                </ng-template>
            </ngx-datatable-column>
        
        
        </ngx-datatable>

    </div>
 
  </div>
 
</div>


   
</div>


