<div id="empresaannoproceso" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
  
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">              

              <div class="logo mb-24 mb-md-0"
                  fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    business
                  </mat-icon>
                  <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h3" >
                        Cambiar Empresa y Año de Proceso
                    </div>
                   
                </div>
              </div>
          </div>
            <!-- / APP TITLE -->
            <!-- SAVE BUTTON -->
           

            <!-- / SAVE BUTTON -->
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card">

          <!-- CONTENT -->
          <div class="empresaannoproceso-form-table"> 
            
                <div class="empresaannoproceso-container">
                    <div class="card">

                        <form [formGroup]="empresaannoprocesoForm"> 

                            <div fxLayout="row" fxLayoutAlign="center center">&nbsp;</div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label>Empresa</mat-label> 
                                <select name='empresa' matNativeControl required formControlName="empresa" (change)="listarAnnoProceso()">
                                    <option *ngFor="let dato of listaEmpresa" [value]="dato.codigo">
                                        {{dato.descripcion}}
                                    </option>                    
                                </select>                           
                            </mat-form-field>          
                            </div>        
                            
                            <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-form-field floatLabel="always" appearance="outline">
                                <mat-label>Año de Proceso</mat-label>
                                <select name='annoproceso' matNativeControl formControlName="annoproceso" required>
                                <option *ngFor="let dato of listaAnnoproceso" [value]="dato.ejerciciocontable">
                                    {{dato.ejerciciocontable}} 
                                </option>                    
                                </select>                         
                            </mat-form-field>
                            </div>   

                            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center center">    
                    
                                <button mat-stroked-button color="accent" [disabled]="empresaannoprocesoForm.invalid" (click)="cambiarEmmpresaAnnoProceso(empresaannoprocesoForm)">
                                        <mat-icon class="mr-8">check_circle</mat-icon>
                                        Aceptar          
                                </button>
                            </div>

                        </form>
                </div>
          
              </div>                   


          </div>
          <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

  </div>
  




