@import "src/@fuse/scss/fuse";


gez-empresaannoproceso {
    #empresaannoproceso {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }
        >.center {
            >.header {
                min-height: 12% !important;
                height: auto !important;
                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);
                    @include media-breakpoint('xs') {
                        width: 100%;
                    }
                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;
                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }
                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }
    .empresaannoproceso-form-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .mat-header-row {
            min-height: 43px;
        }
        .mat-header-cell {
            font-size: 1.0em;
            color: rgb(15, 65, 145);
        }
        .mat-cell {
            font-size: 0.9em;
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .active-icon {
            border-radius: 50%;
        }
        .empresaannoproceso-form {
            position: relative;
            cursor: pointer;
            height: 23px;
        }
        .mat-tab-label {
            min-width: 25px !important;
            padding: 20px;
            background-color: #1313af !important;
            color: black !important;
            font-size: 0.9em !important; //
        }
        .mat-form-field{
            font-size: 0.8em !important; //           
        }
        .mat-form-field-label {
            font-size: 1.3em !important; //
        }
        .mat-input-element[readonly] {
            font-style: italic !important;
        }
        .mat-select {
            font-size: 0.8em !important;            
        }
        
        .mat-checkbox {
            font-size: 0.8em !important;
        }
        .mat-slide-toggle{
            font-size: 0.9em !important; //
        }
        .active-icon {
            border-radius: 50% !important;
        }
        .mat-icon{
            border-radius: 50% !important;
        }
        .texto-icon{
            font-size: 0.8em !important;
        }
    }

    .empresaannoproceso-container {
        padding: 10px 250px;
        margin: 50 !important;
        // cursor: pointer;
        .card {
            padding: 10px 10px;
            overflow: hidden;
            background: #ffffff;
            @include mat-elevation(7);

            .headerlist{
                font-size: 1.0em !important;
            }

            .header {
                font-size: 0.9em !important;
                .invoice-date {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.54);
                    margin-bottom: 32px;
                }    
            }         
            
            .mat-icon {
                transform: scale(0.7);
                border-radius: 0% !important;
            }
            
        }
    } 

}
