@import "src/@fuse/scss/fuse";

.searchbox-dialog {

    @include media-breakpoint('xs') {
        width: 200%;
        // height: 470px;
    }

    @include media-breakpoint('gt-xs') {
        width: 600px;
        height: 470px;
    }

    .mat-dialog-container {
        padding: 0;
        // overflow-y: hidden !important;
                
        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;     
    }   

    .mat-form-field{
        font-size: 0.8em !important; //
        .mat-icon {
            // height:88px !important;
            // width:88px !important;
            // line-height: 88px !important;
            font-size: 1.5em !important;
        }
    }

    .mat-form-field-label {
        font-size: 1.3em !important; //
    }
    

    .catalogo-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .mat-header-row {
            min-height: 23px;
        }
        .mat-header-cell {
            font-size: 0.8em;
            color: rgb(15, 65, 145);
        }
        .catalogo {
            position: relative;
            cursor: pointer;
            height: 23px;
        }
        .mat-cell {
            font-size: 0.8em;
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .active-icon {
            border-radius: 50%;
        }
    }
    .mat-paginator{
        font-size: 0.5em;
    }
}

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
    table-layout: fixed;
}

.mat-column-codigocatalogo {
    flex: 0 0 24% !important;
    min-width: 104px !important;
}

.mat-column-descripcioncatalogo {
    flex: 0 0 54% !important;
    min-width: 104px !important;
}

.mat-column-detallecatalogo {
    flex: 0 0 22% !important; 
    min-width: 60px !important;
}
