<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{titulo}}</span>            
            <!-- <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button> -->
        </mat-toolbar-row>

    </mat-toolbar> 

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="buscarForm">    
            <div fxLayout="row" fxLayoutAlign="space-between">

                <div class="center" floatLabel="always" fxFlex="100" fxLayoutAlign="center center">
                    
                    <!-- <mat-form-field appearance="outline" fxFlex="90"> -->
                    <!-- <mat-form-field floatLabel="always" appearance="outline" fxFlex="85">
                        <mat-label>Ingrese cadena de búsqueda</mat-label>                    
                        <input matInput name="buscar" formControlName="buscar" required>
                    </mat-form-field>
                    
                    <mat-label fxFlex="5"></mat-label> 

                    <div class="header" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="10">
                        <button mat-raised-button  
                        class="add-product-button fuse-white mt-24 mt-md-0" 
                        title='Buscar Cuenta Contable'
                        [disabled]="buscarForm.invalid"
                        (click)="buscarCatalogo()">
                            <mat-icon class="mr-8">search</mat-icon>
                        </button>
                    </div>  -->

                    <mat-form-field floatLabel="always" fxFlex="50">
                        <mat-label>Ingrese cadena de búsqueda</mat-label>                    
                        <input matInput name="buscar" formControlName="buscar" #buscar="matInput">
                        <button mat-icon-button matSuffix (click)="buscarCatalogo()" [disabled]="buscarForm.invalid">
                            <mat-icon>search</mat-icon>
                        </button> 
                    </mat-form-field>

                </div>
            </div>

        </form>

    <!-- </div>

   
    <div class="content-card"> -->

        <mat-table class="catalogo-table" #table [dataSource]="dataSource" fusePerfectScrollbar matSort >

            <ng-container matColumnDef="codigocatalogo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{codigo}}</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.codigo}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descripcioncatalogo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{descripcion}}</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.descripcion}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="detallecatalogo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{detalle}}</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.detalle}}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-header-row *matRowDef="let catalogo; columns: displayedColumns;" 
            class="catalogo"
            matRipple
            (click)="seleccionarRegistro(catalogo.codigo, catalogo.descripcion)">
            </mat-header-row>

        </mat-table>

        <mat-toolbar *ngIf="dataSource.data.length === 0"  class="no-records">
            <mat-toolbar-row>
                <span style="font-size: 0.6em">{{resultado}}</span> 
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-toolbar *ngIf="dataSource.data.length > 10" >
        <!-- <mat-toolbar *ngIf="listarTabla.length > 0"> -->
            <mat-toolbar-row>
                <span fxFlex></span>
                <mat-paginator [length]="dataSource.filteredData.length" [pageSize]="10" [pageSizeOptions]="[5,10,15]"></mat-paginator>

                <!-- <mat-paginator #paginator
                [length]="dataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator> -->

            </mat-toolbar-row>
        </mat-toolbar>

        
    </div>
  
</div>
