<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="tipocambioForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                    <mat-label>Fecha</mat-label>
                    <input type="date" #fecha matInput name="fecha" formControlName="fecha" [readonly]="edit" required>
                </mat-form-field>

                <mat-label fxFlex="1"></mat-label>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                    <mat-label>Moneda</mat-label>
                    <select *ngIf="this.accion !='editar'" name="moneda" matNativeControl required formControlName="moneda" matInput required>
                        <option *ngFor="let dato of listaMoneda" [value]="dato.valor">
                            {{dato.descripcion}}
                        </option>                    
                    </select> 
                    <input matInput *ngIf="this.accion =='editar'" name="descripcionmoneda" formControlName="descripcionmoneda" [readonly]="true">
                </mat-form-field>
                
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                    <mat-label>Tipo Cambio Compra</mat-label>
                    <input matInput name="tipocambiocompra" formControlName="tipocambiocompra" DecimalNumberThree type="text" required>
                </mat-form-field>

                <mat-label fxFlex="1"></mat-label>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                    <mat-label>Tipo Cambio Venta</mat-label>
                    <input matInput name="tipocambioventa" formControlName="tipocambioventa" DecimalNumberThree type="text" required>
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox
                    class="mt-24" 
                    formControlName="indicadorcierre" name="indicadorcierre"                         
                    [checked]="checkIndicadorCierre"                       
                    floatLabel="always" fxFlex="60">
                    Indicador de Cierre
                </mat-checkbox>

                <mat-label fxFlex="1"></mat-label>

                <mat-checkbox
                    class="mt-24" 
                    formControlName="indicadorreplica" name="indicadorreplica"                         
                    [checked]="checkIndicadorReplica"                       
                    floatLabel="always" fxFlex="60">
                    Replicar a las Empresas
                </mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <mat-slide-toggle  class="emt-24"
                    name='estado' formControlName="estado"
                    [checked]="checkEstado" 
                    floatLabel="always">
                    Estado
                </mat-slide-toggle>
            </div>
            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>
            
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            {{botonExit}}
        </button>

        <button *ngIf="accion !== 'editar'" mat-stroked-button color="accent" [disabled]="tipocambioForm.invalid" [hidden]="hidegrabar" (click)="registrarTipoCambio(tipocambioForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAgregar}}
        </button>

        <button *ngIf="accion === 'editar'" mat-stroked-button color="accent" [disabled]="tipocambioForm.invalid" [hidden]="hidegrabar" (click)="registrarTipoCambio(tipocambioForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAceptar}}            
        </button>
    </div>
</div>
