<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
            
            <div class="content p-24">
                <span style="color:blue; font-size:small">
                    <mat-icon style="color: darkblue; font-size:large">account_balance</mat-icon> Empresa: {{nombreempresa}} &nbsp;&nbsp;
                    <mat-icon style="color: darkblue; font-size:large">calendar_today</mat-icon> Año de Proceso: {{annoproceso}} &nbsp;&nbsp;
                    <mat-icon style="color: darkblue; font-size:large">how_to_reg</mat-icon> Perfil: {{nombreperfil}}
                    <!-- <mat-icon style="color: darkblue; font-size:large">account_balance</mat-icon> Empresa:  GEZ Consultores &nbsp;&nbsp;
                    <mat-icon style="color: darkblue; font-size:large">calendar_today</mat-icon> Año de Proceso: 2020 &nbsp;&nbsp;
                    <mat-icon style="color: darkblue; font-size:large">how_to_reg</mat-icon> Perfil: Contador -->
                </span>
            </div>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar mr-0 mr-sm-16" src="assets/images/avatars/Rafael.bmp">
                    <span style="color:blue; font-size:small">{{nombreusuario}}</span>
                    <!-- <span style="color:blue; font-size:medium">Rafael</span> -->
                    <mat-icon style="color:darkblue; font-size:x-large">keyboard_arrow_down</mat-icon>
                </div>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false" >

                <button mat-menu-item class="">                    
                    <span style="color:blue; font-size:small"><mat-icon style="color:rgb(90, 144, 214); font-size:x-large" >account_circle</mat-icon>Mi Perfil</span>
                </button>

                <button mat-menu-item class="">                    
                    <span style="color:blue; font-size:small"><mat-icon style="color:rgb(90, 144, 214); font-size:x-large">mail</mat-icon>Correo</span>
                </button>

                <button mat-menu-item class="" (click)="closeSession()">                    
                    <span style="color:blue; font-size:small"><mat-icon style="color:rgb(90, 144, 214); font-size:x-large">exit_to_app</mat-icon> Cerrar sesión</span>
                </button>

            </mat-menu>


        </div>

    </div>

</mat-toolbar>