<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="centrocostoForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                    <mat-label>Centro Costo</mat-label>
                    <input matInput name="centrocosto" formControlName="centrocosto" type="text" [readonly]="edit" required>
                </mat-form-field>

                <mat-label fxFlex="1"></mat-label>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="90">
                    <mat-label>Denominación</mat-label>
                    <input matInput name="nombrecentrocosto" formControlName="nombrecentrocosto" type="text" required>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">                

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                    <mat-label>Cuenta Contable Cargo</mat-label>
                    <select name="cuentacontablecargo" matNativeControl required formControlName="cuentacontablecargo" matInput required>
                        <option *ngFor="let dato of listaCtaCargo" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>

                <mat-label fxFlex="1"></mat-label>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                    <mat-label>Cuenta Contable Abono</mat-label>
                    <select name="cuentacontableabono" matNativeControl required formControlName="cuentacontableabono" matInput required>
                        <option *ngFor="let dato of listaCtaAbono" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                </mat-form-field>
                
            </div>            

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <mat-slide-toggle  class="emt-24"
                    name='estado' formControlName="estado"
                    [checked]="checkEstado" 
                    floatLabel="always">
                    Estado
                </mat-slide-toggle>
            </div>
            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>
            
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            {{botonExit}}
        </button>

        <button *ngIf="accion !== 'editar'" mat-stroked-button color="accent" [disabled]="centrocostoForm.invalid" [hidden]="hidegrabar" (click)="registrarCentroCosto(centrocostoForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAgregar}}
        </button>

        <button *ngIf="accion === 'editar'" mat-stroked-button color="accent" [disabled]="centrocostoForm.invalid" [hidden]="hidegrabar" (click)="registrarCentroCosto(centrocostoForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAceptar}}            
        </button>
    </div>
</div>

