<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="detraccionForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="20">
                    <mat-label>Detracción</mat-label>
                    <input matInput name="detraccion" formControlName="detraccion" type="text" [readonly]="edit" required>
                </mat-form-field>

                <mat-label fxFlex="1"></mat-label>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="100">
                    <mat-label>Definición</mat-label>
                    <input matInput name="definicion" formControlName="definicion" type="text" required>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="120">
                    <mat-label>Descripción</mat-label>
                    <input matInput name="descripcion" formControlName="descripcion" type="text" required>
                </mat-form-field>

            </div>          

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                    <mat-label>Tasa (%)</mat-label>
                    <input matInput name="tasa" formControlName="tasa" DecimalNumberTwo type="text" required>
                </mat-form-field>

                <mat-label fxFlex="1"></mat-label>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="60">
                    <mat-label>Monto Mínimo</mat-label>
                    <input matInput name="montominimo" formControlName="montominimo" DecimalNumberTwo type="text" required>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>            

            <div fxLayout="row" fxLayoutAlign="star start">
                <mat-slide-toggle  class="emt-24"
                    name='estado' formControlName="estado"
                    [checked]="checkEstado" 
                    floatLabel="always">
                    Estado
                </mat-slide-toggle>
            </div>
            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>
            
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            {{botonExit}}
        </button>

        <button *ngIf="accion !== 'editar'" mat-stroked-button color="accent" [disabled]="detraccionForm.invalid" [hidden]="hidegrabar" (click)="registrarDetraccion(detraccionForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAgregar}}
        </button>

        <button *ngIf="accion === 'editar'" mat-stroked-button color="accent" [disabled]="detraccionForm.invalid" [hidden]="hidegrabar" (click)="registrarDetraccion(detraccionForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAceptar}}            
        </button>
    </div>
</div>


