<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" >

        <form [formGroup]="valorfechaForm">

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Fecha Inicio</mat-label>
                    <input type="date" matInput name="fechainicio" required formControlName="fechainicio" [readonly]="edit">
                </mat-form-field>    
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Fecha Fin</mat-label>
                    <input type="date" matInput name="fechafin" formControlName="fechafin">
                </mat-form-field>   
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Tasa</mat-label>
                    <input matInput name="valor" required formControlName="valor" DecimalNumberThree type="text">
                </mat-form-field>  

            </div>     


            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 

            <div fxLayout="row" fxLayoutAlign="star start">

                <div fxFlex="50">
                    <mat-slide-toggle  class="emt-24"
                        name='estado' formControlName="estado"
                        [checked]="checkEstado" 
                        floatLabel="always">
                        Estado
                    </mat-slide-toggle>            
                </div>
                
                <div mat-dialog-actions fxFlex="50" fxLayoutAlign="end start">

                    <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
                        <mat-icon class="mr-8">exit_to_app</mat-icon>
                        {{botonExit}}
                    </button>        
            
                    <button mat-stroked-button color="accent" [disabled]="valorfechaForm.invalid" [hidden]="hidegrabar" (click)="registrarValorFecha(valorfechaForm)">
                            <mat-icon class="mr-8">check_circle</mat-icon>
                            {{botonAceptar}}            
                    </button>
                </div>
            </div> 

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 


        </form>

    </div>


</div>



