<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="registrocontableForm">

            <div fxLayout="row" fxLayoutAlign="space-between">

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33" >
                    <mat-label>Cuenta Contable</mat-label>                
                    <select name='cuentacontable' matNativeControl required formControlName="cuentacontable" (change)="modificarCuentaContable()" *ngIf="registrocontable.tiporegistro=='M'">
                        <option *ngFor="let dato of listaCuentaContable" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                    <button mat-icon-button matSuffix (click)="listarCuentaContable()" *ngIf="registrocontable.tiporegistro=='M'" title='Refrescar Cuentas Contables'>
                        <mat-icon>refresh</mat-icon>
                    </button>                      
                    <input matInput *ngIf="registrocontable.tiporegistro=='A'" name="descripcioncuentacontable" formControlName="descripcioncuentacontable" [readonly]="readonly">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="66" *ngIf="viewentidad"> 
                    <mat-label>{{this.entidad}}</mat-label>                    
                    <select name='entidad' matNativeControl formControlName="entidad" *ngIf="registrocontable.tiporegistro=='M'" (blur)="modificarEntidad()">
                        <option *ngFor="let dato of listaEntidad" value="{{dato.codigo}}">
                            {{dato.nombre}} - {{dato.documento}}
                        </option>                    
                    </select> 
                    <input matInput *ngIf="registrocontable.tiporegistro=='A'" name="nombreentidad" formControlName="nombreentidad" [readonly]="readonly">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Tipo Anotación</mat-label>                    
                    <select name='tipoanotacion' matNativeControl required formControlName="tipoanotacion" *ngIf="registrocontable.tiporegistro=='M'">
                        <option *ngFor="let dato of listaTipoAnotacion" [value]="dato.valor">
                            {{dato.descripcion}}
                        </option>                    
                    </select>
                    <input matInput *ngIf="registrocontable.tiporegistro=='A'" name="descripciontipoanotacion" formControlName="descripciontipoanotacion" [readonly]="readonly">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="66" *ngIf="viewcentrocosto">
                    <mat-label>Centro Costo</mat-label>                    
                    <select name='centrocosto' matNativeControl formControlName="centrocosto" *ngIf="registrocontable.tiporegistro=='M'" (blur)="obtenerTextoSelect('listaCentroCosto')">
                        <option *ngFor="let dato of listaCentroCosto" [value]="dato.codigo" >
                            {{dato.descripcion}} - {{dato.descripciontipo}}
                        </option>                    
                    </select>
                    <input matInput *ngIf="registrocontable.tiporegistro=='A'" name="descripcioncentrocosto" formControlName="descripcioncentrocosto" [readonly]="readonly">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="32" class="w-100-p" *ngIf="viewgrupocentrocosto">
                    <mat-label>Porcentaje Centro Costo (%)</mat-label>                    
                    <input name="porcentajecentrocosto" formControlName="porcentajecentrocosto" matInput DecimalNumberTwo type="text" [readonly]="readonly">            
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Tipo Documento</mat-label>                    
                    <select name='tipodocumento' matNativeControl required formControlName="tipodocumento" *ngIf="registrocontable.tiporegistro=='M'" (blur)="mostrarSaldo()">
                        <option *ngFor="let dato of listaTipoDocumento" [value]="dato.codigo">
                            {{dato.codigo}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                    <input matInput *ngIf="registrocontable.tiporegistro=='A'" name="descripciontipodocumento" formControlName="descripciontipodocumento" [readonly]="readonly">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Serie Documento</mat-label>                    
                    <input name="numeroserie" formControlName="numeroserie" matInput [required]="requiredDoc" [readonly]="readonly">
                </mat-form-field>
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Número Documento</mat-label>                    
                    <input name="numerocomprobanteini" formControlName="numerocomprobanteini" matInput [required]="requiredDoc" [readonly]="readonly">
                    <button mat-icon-button matSuffix *ngIf="viewsaldo" title='Consultar Saldos' (click)="buscarSaldo()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="32">
                    <mat-label>Número Documento - Fin</mat-label>                    
                    <input name="numerocomprobantefin" formControlName="numerocomprobantefin" matInput [readonly]="readonly">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Fecha Emisión</mat-label>                    
                    <input type="date" name="fechaemision" formControlName="fechaemision" matInput required (blur)="modificarFechaEmision()" [readonly]="readonly">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Fecha Vencimiento</mat-label>                    
                    <input type="date" name="fechavencimiento" formControlName="fechavencimiento" matInput [readonly]="readonly">
                </mat-form-field>

                <mat-checkbox class="mt-24" fxLayoutAlign="center center"
                    formControlName="indicadorcalculo" name="indicadorcalculo"                         
                    [checked]="checkIndicadorCalculo"                       
                    floatLabel="always" fxFlex="32" (blur)="modificarCalculoAutomatico()" *ngIf="registrocontable.tiporegistro=='M'">
                    Indicador de Cálculo
                </mat-checkbox>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="32" *ngIf="registrocontable.tiporegistro=='A' && registrocontable.indicadorcalculo">
                    <mat-label>Indicador de Cálculo</mat-label>                    
                    <input name="indicadorcalculo" matInput value="Si" [readonly]="readonly">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="32" *ngIf="registrocontable.tiporegistro=='A' && !registrocontable.indicadorcalculo">
                    <mat-label>Indicador de Cálculo</mat-label>                    
                    <input name="indicadorcalculo" matInput value="Si" [readonly]="readonly">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between">

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Tipo de Cambio</mat-label>                    
                    <select name='tipocambio' matNativeControl required formControlName="tipocambio" (blur)="modificarTipoCambio()" *ngIf="registrocontable.tiporegistro=='M'">
                        <option>&nbsp;</option>
                        <option *ngFor="let dato of listaTipoCambio" [value]="dato.valor">
                            {{dato.descripcion}}
                        </option>                    
                    </select>                                 
                    <input name="descripciontipocambio" formControlName="descripciontipocambio" matInput [readonly]="readonly" *ngIf="registrocontable.tiporegistro=='A'">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Tipo Cambio - Origen a Soles</mat-label>                    
                    <input name="tipocambiosoles" formControlName="tipocambiosoles" matInput required [readonly]="editTC" DecimalNumberThree type="text" (blur)="procesarCalculoAutomatico()">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="32">
                    <mat-label>Tipo Cambio - Dólares a Soles</mat-label>                    
                    <input name="tipocambiodolares" formControlName="tipocambiodolares" matInput required [readonly]="editTC" DecimalNumberThree type="text" (blur)="procesarCalculoAutomatico()">
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Monto Moneda Origen</mat-label>                    
                    <input matInput name="montoorigen" required formControlName="montoorigen" DecimalNumberTwo type="text" (blur)="procesarCalculoAutomatico()" [readonly]="readonly">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="33">
                    <mat-label>Monto Moneda Soles</mat-label>                    
                    <input matInput name="montonacional" required formControlName="montonacional" DecimalNumberTwo type="text" (blur)="procesarCalculoAutomatico()" [readonly]="readonly">
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline" fxFlex="32">
                    <mat-label>Monto Moneda Dólares</mat-label>                    
                    <input matInput name="montodolares" required formControlName="montodolares" DecimalNumberTwo type="text" (blur)="procesarCalculoAutomatico()" [readonly]="readonly">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="viewmediopago">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Medio Pago</mat-label>                    
                        <select name='mediopago' matNativeControl formControlName="mediopago" *ngIf="registrocontable.tiporegistro=='M'">
                        <option *ngFor="let dato of listaMedioPago" [value]="dato.valor">
                            {{dato.valor}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                    <input matInput *ngIf="registrocontable.tiporegistro=='A'" name="descripcionmediopago" formControlName="descripcionmediopago" [readonly]="readonly">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="viewflujoefectivo">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Flujo Efectivo</mat-label>                    
                        <select name='flujoefectivo' matNativeControl formControlName="flujoefectivo" *ngIf="registrocontable.tiporegistro=='M'">
                        <option *ngFor="let dato of listaFlujoEfectivo" [value]="dato.valor">
                            {{dato.valor}} - {{dato.descripcion}}
                        </option>                    
                    </select> 
                    <input matInput *ngIf="registrocontable.tiporegistro=='A'" name="descripcionflujoefectivo" formControlName="descripcionflujoefectivo" [readonly]="readonly">
                </mat-form-field>
            </div> 

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Glosa</mat-label>                    
                    <input name="glosa" formControlName="glosa" matInput required>
                </mat-form-field>
            </div>

        </form>

    </div> 

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            Cancelar
        </button>

        <button mat-stroked-button color="accent" [disabled]="registrocontableForm.invalid" (click)="editarRegistroContable(registrocontableForm)">
            <mat-icon class="mr-8">check_circle</mat-icon>
            Aceptar
        </button>
    </div>
</div>