<div id="detraccion" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    format_align_left
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Detracción
              </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar Detracción" (keyup)="doFilter($event.target.value)">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->

            <button mat-raised-button (click)="crearDetraccion()" class="add-product-button fuse-white mt-24 mt-md-0" title='Nueva Detracción'>
                <mat-icon class="mr-8">add_circle_outline</mat-icon>
              <span>Nuevo</span>
            </button>
        
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="detraccion-table" [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="detraccion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código Detracción</mat-header-cell>
                    <mat-cell *matCellDef="let detraccion">
                        <p class="text-truncate">{{detraccion.detraccion}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="definicion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Definición</mat-header-cell>
                    <mat-cell *matCellDef="let detraccion">
                        <p class="text-truncate">{{detraccion.definicion}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tasa" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Tasa (%)</mat-header-cell>
                    <mat-cell *matCellDef="let detraccion" class="mat-cell">
                        <p class="text-truncate">{{detraccion.tasa}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="montominimo" class="mat-cell">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Monto Mínimo</mat-header-cell>
                    <mat-cell *matCellDef="let detraccion" class="mat-cell">
                        <p class="text-truncate">{{detraccion.montominimo}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="descripcionestado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let detraccion">
                        <button mat-button color="fuse-white" disabled>
                      <mat-icon *ngIf="detraccion.estado=='A'" class="active-icon green-600 s-16">check</mat-icon>
                      <mat-icon *ngIf="detraccion.estado=='I'" class="active-icon red-500 s-16">close</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let detraccion">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" (click)="editarDetraccion(detraccion.detraccion)" title='Editar Detracción'><mat-icon>edit</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let detraccion">
                        <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" (click)="eliminarDetraccion(detraccion.detraccion)"  title='Eliminar Detracción'><mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-header-row *matRowDef="let detraccion; columns: displayedColumns;" class="detraccion">
                </mat-header-row>

            </mat-table>

            <div *ngIf="dataSource.data.length === 0" class="no-records">
                {{resultado}}
            </div>


            <mat-toolbar *ngIf="dataSource.data.length > 0">
                <mat-toolbar-row>
                    <button mat-raised-button (click)="exportarDetraccion()" class="add-product-button blue-grey mt-24 mt-md-0" title='Generar Reporte / Descargar Información'><mat-icon>save_alt</mat-icon></button>
                    <span fxFlex></span>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,15]"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>

    </div>

</div>



