@import "src/@fuse/scss/fuse";

gez-empresa-form {
    #empresa-form {
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }
        >.center {
            >.header {
                min-height: 12% !important;
                height: auto !important;
                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);
                    @include media-breakpoint('xs') {
                        width: 100%;
                    }
                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;
                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }
                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }
    .empresa-form-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .mat-header-row {
            min-height: 43px;
        }
        .mat-header-cell {
            font-size: 1.0em;
            color: rgb(15, 65, 145);
        }
        .mat-cell {
            font-size: 0.9em;
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .active-icon {
            border-radius: 50%;
        }
        .empresa-form {
            position: relative;
            cursor: pointer;
            height: 23px;
        }
        .mat-tab-label {
            min-width: 25px !important;
            padding: 20px;
            background-color: transparent;
            color: black !important;
            font-size: 0.9em !important; //
        }
        .mat-form-field{
            font-size: 0.8em !important; //
        }
        .mat-form-field-label {
            font-size: 1.3em !important; //
        }
        .mat-input-element[readonly] {
            font-style: italic !important;
        }
        .mat-select {
            font-size: 0.8em !important;
        }
        .mat-checkbox {
            font-size: 0.8em !important;
        }
        .mat-slide-toggle{
            font-size: 0.9em !important; //
        }
        .active-icon {
            border-radius: 50% !important;
        }
        .mat-icon{
            border-radius: 50% !important;
            transform: scale(0.7);
        }
        .texto-icon{
            font-size: 0.8em !important;
        }
    }

    .ejercicio-container {
        padding: 10px;
        margin: 0 auto;
        cursor: pointer;
        .card {
            padding: 10px 10px;
            overflow: hidden;
            background: #FFFFFF;
            @include mat-elevation(7);

            .headerlist{
                font-size: 1.0em !important;
            }

            .header {
                font-size: 0.9em !important;
                .invoice-date {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.54);
                    margin-bottom: 32px;
                }    
            }         
            
            .mat-icon {
                transform: scale(0.7);
                border-radius: 0% !important;
            }

            .ejercicio-table {
                flex: 1 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, .12);                
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                .mat-header-row {
                    min-height: 30px; // 36
                }
                .mat-header-cell {
                    font-size: 0.8em;
                    color: rgb(15, 65, 145);
                }
                .mat-cell {
                    font-size: 0.8em; //
                    min-width: 0;
                    display: flex;
                    align-items: center;
                }
                .mat-footer-cell {
                    font-size: 0.8em; //
                    min-width: 0;
                    display: flex;
                    align-items: center;
                }

                .active-icon {
                    border-radius: 50% !important;
                }
                .mat-icon {
                    transform: scale(0.8);
                }
                
                .text-green {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: green;
                }

                .text-black {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: black;
                }

                .mat-column-ejercicio {
                    flex: 0 0 30% !important;
                    min-width: 100px !important;
                }
                .mat-column-estado {
                    flex: 0 0 50% !important;
                    min-width: 100px !important;
                }
                .mat-column-editar {
                    flex: 0 0 1% !important;
                    min-width: 30px !important;
                }
                
                .mat-column-eliminar {
                    flex: 0 0 1% !important;
                    min-width: 30px !important;
                }
                
                
            }
        }
    } 
    .periodo-container {
        padding: 10px;
        margin: 0 auto;
        .card {
            padding: 10px 10px;
            overflow: hidden;
            background: #FFFFFF;
            @include mat-elevation(7);

            .headerlist{
                font-size: 1.0em !important;
            }

            .header {
                font-size: 0.9em !important;
                .invoice-date {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.54);
                    margin-bottom: 32px;
                }    
            }         
            
            .mat-icon {
                transform: scale(0.7);
                border-radius: 0% !important;
            }

            .periodo-table {
                flex: 1 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, .12);                
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                .mat-header-row {
                    min-height: 30px; // 36
                }
                .mat-header-cell {
                    font-size: 0.8em;
                    color: rgb(15, 65, 145);
                }
                .mat-cell {
                    font-size: 0.8em; //
                    min-width: 0;
                    display: flex;
                    align-items: center;
                }
                .mat-footer-cell {
                    font-size: 0.8em; //
                    min-width: 0;
                    display: flex;
                    align-items: center;
                }

                .active-icon {
                    border-radius: 50% !important;
                }
                .mat-icon {
                    transform: scale(0.8);
                }
                
                .text-green {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: green;
                }

                .text-black {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: black;
                }

                .mat-column-ejercicio {
                    flex: 0 0 20% !important;
                    min-width: 100px !important;
                }
                .mat-column-periodo {
                    flex: 0 0 30% !important;
                    min-width: 100px !important;
                }
                .mat-column-estado {
                    flex: 0 0 30% !important;
                    min-width: 100px !important;
                }
                .mat-column-editar {
                    flex: 0 0 1% !important;
                    min-width: 30px !important;
                }
                
                .mat-column-eliminar {
                    flex: 0 0 1% !important;
                    min-width: 30px !important;
                }
                
                
            }
        }
    } 
    
}
