<div id="empresa-form" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
  
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/sistema/mantenimiento/empresas'">
                <mat-icon>arrow_back</mat-icon>
              </button>

              <div class="logo mb-24 mb-md-0"
                  fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    account_balance
                  </mat-icon>
                  <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h3" *ngIf="misDatos.action=='editar'"> 
                        Editar Empresa
                    </div>
                    <div class="h3" *ngIf="misDatos.action=='nuevo'">
                        Nueva Empresa
                    </div>
                   
                </div>
              </div>
          </div>
            <!-- / APP TITLE -->
            <!-- SAVE BUTTON -->


            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" *ngIf="grabar" [disabled]="empresaForm.invalid" title='Grabar Empresa' (click)="grabarEmpresa()">
                    <mat-icon class="mr-8">check_circle</mat-icon>
                    <span>Grabar</span>
                </button>     
      
                <mat-label fxFlex="1"></mat-label>
      
                <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" (click)="crearEmpresa()" *ngIf="misDatos.action=='editar'" title='Nueva Empresa'>
                  <mat-icon class="mr-8">add_circle_outline</mat-icon>
                  <span>Nuevo</span>
                </button>

                <mat-label fxFlex="1"></mat-label>

                <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" *ngIf="copiar" title='Copiar Tablas' (click)="replicarEjercicio()">
                    <mat-icon class="mr-8">check_circle</mat-icon>
                    <span>Copiar Tablas</span>
                </button> 
              </div>
           

            <!-- / SAVE BUTTON -->
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card">

          <!-- CONTENT -->
          <div class="content"> 
            <mat-tab-group dynamicHeight class="empresa-form-table"  (selectedTabChange)="mostrarGrabar($event)">
              <mat-tab label="Empresa"> 
                <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

                  <form [formGroup]="empresaForm">
                      <div fxLayout="row" fxLayoutAlign="space-between">

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Código</mat-label>
                            <input matInput name="empresa" formControlName="empresa" [readonly]="true">                             
                        </mat-form-field>         

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                          <mat-label>Tipo de Persona</mat-label>
                          <select name='tipo' matNativeControl  formControlName="tipo" required> 
                              <option *ngFor="let dato of listaTipoPersona" [value]="dato.valor">
                                  {{dato.descripcion}}
                              </option>                    
                          </select>
                        </mat-form-field>
                        
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                          <mat-label>Documento de Identidad</mat-label>
                          <input matInput name="ruc" formControlName="ruc" required>                             
                        </mat-form-field>

                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">
                        
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="120">
                          <mat-label>Nombre</mat-label>
                          <input matInput name="descripcion" formControlName="descripcion" required>
                        </mat-form-field>     

                      </div>                       

                      <div fxLayout="row" fxLayoutAlign="space-between">

                        <mat-slide-toggle  class="emt-24"
                            name='estado' formControlName="estado"
                            [checked]="checkEstado" 
                            floatLabel="always" fxFlex="30">
                            Estado
                        </mat-slide-toggle>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">&nbsp;</div>

                  </form>
          
              </div>                 

              </mat-tab>

              <mat-tab label="Año y Mes de Proceso" *ngIf="misDatos.action=='editar'">
                <div>
                    <div class="ejercicio-container" fxFlex="300" >
                        <div class="card">
                            <div fxLayout="row" fxLayoutAlign="center center" class="header accent">
                            <span class="headerlist" fxFlex="30">&nbsp;Año de Proceso</span>
                            <span class="header" fxFlex="40"></span>
                            <button mat-icon-button matSuffix fxFlex="20" title='Agregar Año de Proceso' (click)="registrarEjercicio(0,'insertar')">
                                <mat-icon>add_circle_outline</mat-icon><span class="header">Agregar</span>
                            </button>
                            </div>    
                        
                            <div>
                                <mat-table class="ejercicio-table" [dataSource]="listaEmpresaEjercicio" matSort >
                    
                                    <ng-container matColumnDef="ejercicio">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Año</mat-header-cell>
                                    <mat-cell *matCellDef="let listaEmpresaEjercicio" (click)="obtenerPeriodo(listaEmpresaEjercicio.ejerciciocontable)">
                                        <p class="text-default">{{listaEmpresaEjercicio.ejerciciocontable}}</p>
                                    </mat-cell>
                                    </ng-container>   

                                    <ng-container matColumnDef="estado">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado Contable</mat-header-cell>                            
                                    <mat-cell *matCellDef="let listaEmpresaEjercicio" (click)="obtenerPeriodo(listaEmpresaEjercicio.ejerciciocontable)">
                                        <p *ngIf="listaEmpresaEjercicio.indicador=='A'"  class="text-default">Abierto</p>
                                        <p *ngIf="listaEmpresaEjercicio.indicador=='C'"  class="text-default">Cerrado</p>
                                    </mat-cell>
                                    </ng-container> 

                                    <ng-container matColumnDef="editar">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let listaEmpresaEjercicio">                              
                                        <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" title='Editar Año de Proceso' (click)="registrarEjercicio(listaEmpresaEjercicio.ejerciciocontable,'editar')">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </mat-cell>
                                    </ng-container>                                          

                                    <mat-header-row *matHeaderRowDef="displayedColumnsEjercicio; sticky:true"></mat-header-row>
                    
                                    <mat-header-row *matRowDef="let displayedColumnsEjercicio; columns: displayedColumnsEjercicio;" class="ejercicio">
                                    </mat-header-row>  
                                </mat-table>                                
                               
                                
                            </div>

                        </div>

                    </div>
                    <div class="periodo-container" fxFlex="300">
                    <div class="card">
                        <div fxLayout="row" fxLayoutAlign="center center" class="header accent">
                        <span class="headerlist" fxFlex="30">&nbsp;Mes de Proceso</span>
                        <span class="header" fxFlex="40"></span>
                        <button mat-icon-button matSuffix fxFlex="20" title='Agregar Mes de Proceso'>
                            <mat-icon>add_circle_outline</mat-icon><span class="header">Agregar</span>
                        </button>
                        </div>    
                    
                        <div>

                        <mat-table class="periodo-table" [dataSource]="listaEmpresaPeriodo" matSort >
            
                            <ng-container matColumnDef="ejercicio">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Año</mat-header-cell>
                            <mat-cell *matCellDef="let listaEmpresaPeriodo">
                                <p class="text-default">{{listaEmpresaPeriodo.ejerciciocontable}}</p>
                            </mat-cell>
                            </ng-container>   

                            <ng-container matColumnDef="periodo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Mes</mat-header-cell>
                                <mat-cell *matCellDef="let listaEmpresaPeriodo">
                                    <p class="text-default">{{listaEmpresaPeriodo.mes}}</p>
                                </mat-cell>
                                </ng-container>  

                            <ng-container matColumnDef="estado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado Contable</mat-header-cell>
                            <mat-cell *matCellDef="let listaEmpresaPeriodo">
                                <p *ngIf="listaEmpresaPeriodo.indicador=='A'"  class="text-default">Abierto</p>
                                <p *ngIf="listaEmpresaPeriodo.indicador=='C'"  class="text-default">Cerrado</p>
                            </mat-cell>
                            </ng-container> 

                            <ng-container matColumnDef="editar">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let listaEmpresaPeriodo">                              
                                <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" title='Editar Mes de Proceso' (click)="registrarPeriodo(listaEmpresaPeriodo.ejerciciocontable, listaEmpresaPeriodo.periodocontable,'editar')">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </mat-cell>
                            </ng-container>                                  

                            <mat-header-row *matHeaderRowDef="displayedColumnsPeriodo; sticky:true"></mat-header-row>
            
                            <mat-header-row *matRowDef="let displayedColumnsPeriodo; columns: displayedColumnsPeriodo;" class="periodo">
                            </mat-header-row>                       
            
                        </mat-table>                       
    
                        </div>
                    </div>
                    </div>
                </div>
              </mat-tab>
              

            </mat-tab-group>
          </div>
          <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

  </div>
  



<!-- 
<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="empresaForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Código Empresa</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_balance</mat-icon>
                    <input name="empresa" formControlName="empresa" matInput required onkeyup="javascript:this.value=this.value.toUpperCase();">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Descripcion</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="descripcion" formControlName="descripcion" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Tipo</mat-label>
                    <select name='tipo' matNativeControl required formControlName="tipo">
                        <option *ngFor="let dato of listatipos" [value]="dato.valor">
                            {{dato.descripcion}}
                          </option>                    
                      </select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>RUC</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="ruc" formControlName="ruc" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Logo</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="logo" formControlName="logo" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Estado</mat-label>
                    <select name='estado' matNativeControl required formControlName="estado">
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                      </select>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            {{botonExit}}
        </button>

        <button *ngIf="action !== 'editar'" mat-stroked-button color="accent" [disabled]="empresaForm.invalid" [hidden]="hidegrabar" (click)="crearEmpresa(empresaForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAgregar}}
        </button>

        <button *ngIf="action === 'editar'" mat-stroked-button color="accent" [disabled]="empresaForm.invalid" [hidden]="hidegrabar" (click)="editarEmpresa(empresaForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAceptar}}            
        </button>
    </div>
</div> -->
