<div id="cuentacontable" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
  
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/contabilidad/mantenimiento/plancontable'">
                <mat-icon>arrow_back</mat-icon>
              </button>

              <div class="logo mb-24 mb-md-0"
                  fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    description
                  </mat-icon>
                  <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h3" *ngIf="misDatos.action=='editar'"> 
                        Editar Cuenta Contable - {{cuentacontable.cuenta}}
                    </div>
                    <div class="h3" *ngIf="misDatos.action=='nuevo'">
                        Nueva Cuenta Contable
                    </div>
                   
                </div>
              </div>
          </div>
            <!-- / APP TITLE -->
            <!-- SAVE BUTTON -->


            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-raised-button (click)="grabarCuentaContable()" class="add-product-button fuse-white mt-24 mt-md-0" [disabled]="cuentacontableForm.invalid || distribucionForm.invalid" title='Grabar Cuenta Contable'>
                    <mat-icon class="mr-8">check_circle</mat-icon>
                    <span>Grabar</span>
                </button>     
      
                <mat-label fxFlex="1"></mat-label>
      
                <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" (click)="crearCuentaContable()" *ngIf="misDatos.action=='editar'" title='Nueva Cuenta Contable'>
                  <mat-icon class="mr-8">add_circle_outline</mat-icon>
                  <span>Nuevo</span>
                </button>
              </div>
           

            <!-- / SAVE BUTTON -->
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card">

          <!-- CONTENT -->
          <div class="content"> 
            <mat-tab-group dynamicHeight class="cuentacontable-table">
              <mat-tab label="Cuenta Contable">
                <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

                  <form [formGroup]="cuentacontableForm">
                      <div fxLayout="row" fxLayoutAlign="space-between">

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Cuenta Contable</mat-label>
                            <input matInput name="cuenta" formControlName="cuenta" (blur)="onBlurCuentaContable()" [readonly]="edit">
                            <button mat-icon-button matSuffix (click)="buscarCuentaContable('cuenta')" title='Buscar Cuenta Contable'>
                                <mat-icon >search</mat-icon>
                            </button>                               
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="65">
                            <mat-label>Nombre</mat-label>
                            <input matInput name="descripcioncuenta" required formControlName="descripcioncuenta">
                        </mat-form-field>

                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Categoría Cuenta Contable</mat-label>
                            <select name='categoria' matNativeControl required formControlName="categoria">
                                <option>&nbsp;</option>
                                <option *ngFor="let dato of listaCategoria" [value]="dato.valor">
                                    {{dato.descripcion}}
                                </option>                    
                            </select>
                        </mat-form-field> 

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Tipo Cuenta Contable</mat-label>
                            <select name='tipocuenta' matNativeControl required formControlName="tipocuenta">
                                <option>&nbsp;</option>
                                <option *ngFor="let dato of listaTipoCuenta" [value]="dato.valor">
                                    {{dato.descripcion}}
                                </option>                    
                            </select>
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Moneda</mat-label>
                            <select name='moneda' matNativeControl required formControlName="moneda">
                                <option>&nbsp;</option>
                                <option *ngFor="let dato of listaMoneda" [value]="dato.valor">
                                    {{dato.descripcion}}
                                </option>                    
                            </select>
                        </mat-form-field>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Nivel de Saldo</mat-label>
                            <select name='nivelsaldo' matNativeControl required formControlName="nivelsaldo">
                                <option>&nbsp;</option>
                                <option *ngFor="let dato of listaNivelSaldo" [value]="dato.valor">
                                    {{dato.descripcion}}
                                </option>                    
                            </select>
                        </mat-form-field>

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Socio Negocio</mat-label>
                            <select name='socionegocio' matNativeControl formControlName="socionegocio">
                                <option>&nbsp;</option>
                                <option *ngFor="let dato of listaSocioNegocio" [value]="dato.valor">
                                    {{dato.descripcion}}
                                </option>                    
                            </select>
                        </mat-form-field>
                        
                        <mat-label fxFlex="30"></mat-label>     
                                              
                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">
                        
                        <mat-checkbox class="mt-24" 
                            formControlName="documentoreferencia" name="documentoreferencia"                         
                            [checked]="checkDocumentoReferencia"                       
                            floatLabel="always" fxFlex="30">
                            Solicitar Documento
                        </mat-checkbox>

                        <mat-checkbox class="mt-24" 
                            formControlName="cuentamanual" name="cuentamanual"                         
                            [checked]="checkCuentaManual"                       
                            floatLabel="always" fxFlex="30">
                            Cuenta Manual
                        </mat-checkbox>

                        <mat-checkbox class="mt-24" 
                            formControlName="mediopago" name="mediopago"                         
                            [checked]="checkMedioPago"                       
                            floatLabel="always" fxFlex="30">
                            Medio de Pago
                        </mat-checkbox>                        

                      </div>

                      <div><br></div>

                      <div fxLayout="row" fxLayoutAlign="space-between">
                        
                        <mat-checkbox class="mt-24" 
                            formControlName="centrocosto" name="centrocosto"                     
                            [checked]="checkCentroCosto" 
                            (change)="onChangeCentroCosto($event)"                      
                            floatLabel="always" fxFlex="30">
                            Centro de Costo
                        </mat-checkbox> 
 
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Asiento Automático - Debe</mat-label>
                            <input matInput name="asientodebe" formControlName="asientodebe" [readonly]="true">
                            <button mat-icon-button matSuffix (click)="buscarCuentaContable('asientodebe')" [disabled]="checkCentroCosto" title='Buscar Cuenta Contable'>
                                <mat-icon >search</mat-icon>
                            </button>                               
                        </mat-form-field>
                 

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Asiento Automático - Haber</mat-label>
                            <input matInput name="asientohaber" formControlName="asientohaber" [readonly]="true">
                            <button mat-icon-button matSuffix (click)="buscarCuentaContable('asientohaber')" [disabled]="checkCentroCosto" title='Buscar Cuenta Contable'>
                                <mat-icon >search</mat-icon>
                            </button>                               
                        </mat-form-field>

                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">
                        
                        <mat-checkbox class="mt-24" 
                            formControlName="ajustependiente" name="ajustependiente"                         
                            [checked]="checkAjustePendiente"                       
                            floatLabel="always" fxFlex="30">
                            Ajuste por Diferencia de Cambio - Pendiente
                        </mat-checkbox> 

                        <mat-checkbox class="mt-24" 
                            formControlName="ajustecancelado" name="ajustecancelado"                         
                            [checked]="checkAjusteCancelado"                       
                            floatLabel="always" fxFlex="30">
                            Ajuste por Diferencia de Cambio - Cancelado
                        </mat-checkbox> 

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="30">
                            <mat-label>Tipo de Cambio</mat-label>                            
                            <select name='tipocambio' matNativeControl formControlName="tipocambio">
                                <option>&nbsp;</option>
                                <option *ngFor="let dato of listaTipoCambio" [value]="dato.valor">
                                    {{dato.descripcion}}
                                </option>                    
                            </select>
                        </mat-form-field>
                      </div>                      

                      <div fxLayout="row" fxLayoutAlign="space-between">
                        
                        <mat-checkbox class="mt-24" 
                            formControlName="saldoclase9" name="saldoclase9"                         
                            [checked]="checkSaldoClase9"                       
                            floatLabel="always" fxFlex="30">
                            Cierre del Ejercicio - Saldo Clase 9
                        </mat-checkbox> 

                        <mat-checkbox class="mt-24" 
                            formControlName="transferencia" name="transferencia"                         
                            [checked]="checkTransferencia"                       
                            floatLabel="always" fxFlex="30">
                            Cierre del Ejercicio - Transferencia por naturaleza
                        </mat-checkbox> 

                        <mat-label fxFlex="30"></mat-label> 

                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">
                        
                        <mat-checkbox class="mt-24" 
                            formControlName="cobro" name="cobro"                         
                            [checked]="checkCobro"                       
                            floatLabel="always" fxFlex="30">
                            Cuenta de Cobro
                        </mat-checkbox> 

                        <mat-checkbox class="mt-24" 
                            formControlName="pago" name="pago"                         
                            [checked]="checkPago"                       
                            floatLabel="always" fxFlex="30">
                            Cuenta de Pago
                        </mat-checkbox> 

                        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="30" >
                            <mat-slide-toggle  class="emt-24"
                                name='estado' formControlName="estado"
                                [checked]="checkEstado" 
                                floatLabel="always">
                                Estado
                            </mat-slide-toggle>
                        </div>

                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-center">
                            <mat-label fxFlex="90">&nbsp;</mat-label>
                      </div>

                  </form>
          
              </div>                 

              </mat-tab>

              <mat-tab label="Dimensiones" *ngIf="misDatos.action=='editar'">
                <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

                  <form [formGroup]="distribucionForm">
          
                      <div fxLayout="row" fxLayoutAlign="start start">
                          <mat-form-field appearance="outline" fxFlex>
                              <mat-label>Distribución por Tabla </mat-label>
                              <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                              <input name="tabla" formControlName="tabla" matInput required>
                          </mat-form-field>
                      </div>
          
                  </form>
          
              </div>    
              </mat-tab>

              <mat-tab label="Otros" *ngIf="misDatos.action=='editar'"></mat-tab>

            </mat-tab-group>
          </div>
          <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

  </div>
  

