<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" >

        <form [formGroup]="subdiarioForm">

            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="22">
                    <mat-label>Código SubDiario</mat-label>
                    <input matInput name="subdiario" formControlName="subdiario" (blur)="onBlurSubDiario()" [readonly]="edit" required>
                </mat-form-field>    
                
                <mat-form-field floatLabel="always" appearance="outline" fxFlex="77">
                    <mat-label>Descripción</mat-label>
                    <input matInput name="descripcion"  formControlName="descripcion" required>
                </mat-form-field>           
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">                

                    <!-- <table class="text-center line-height-40 width='80%' "> -->
                    <table class="text-left line-height-40">
                        <tr class="mat-header-cell">
                            <th fxFlex="13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Operación</th>
                            <th fxFlex="1"></th>
                            <th fxFlex="9">Columna PLE</th>
                            <th fxFlex="1"></th>
                            <th fxFlex="8">Col.PLE Imp.</th>
                            <th fxFlex="2"></th>
                            <th fxFlex="13">Operación</th>
                            <th fxFlex="1"></th>
                            <th fxFlex="9">Columna PLE</th>
                            <th fxFlex="1"></th>
                            <th fxFlex="8">Col.PLE Imp.</th>
                        </tr>
                      
                        <tr class="mat-row">
                            <td class="mat-cell text-left" fxFlex="13">
                                <mat-checkbox class="mt-24" 
                                    formControlName="indicadorcompra" name="indicadorcompra"                         
                                    [checked]="checkIndicadorcompra"                       
                                    floatLabel="always">
                                    Compras
                                </mat-checkbox>
                            </td>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="9" appearance="outline">
                                <input matInput name="columnacompra" required formControlName="columnacompra">
                            </mat-form-field>

                            <mat-label fxFlex="1"></mat-label>
                            
                            <mat-form-field floatLabel="always" fxFlex="8" appearance="outline">
                                <input matInput name="columnaigvcompra" required formControlName="columnaigvcompra">
                            </mat-form-field>

                            <mat-label fxFlex="2"></mat-label>
                        
                            <td class="mat-cell text-left" fxFlex="13">
                                <mat-checkbox class="mt-24" 
                                    formControlName="indicadorhonorario" name="indicadorhonorario"                         
                                    [checked]="checkIndicadorhonorario"                       
                                    floatLabel="always">
                                    Honorario
                                </mat-checkbox>
                            </td>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="9" appearance="outline">
                                <input matInput name="columnahonorario" required formControlName="columnahonorario">
                            </mat-form-field>
                            
                            <mat-label fxFlex="1"></mat-label>
                            
                            <mat-form-field floatLabel="always" fxFlex="8" appearance="outline">
                                <input matInput name="columnaigvhonorario" required formControlName="columnaigvhonorario">
                            </mat-form-field>
                        </tr>

                        <tr class="mat-row">
                            <td class="mat-cell text-left" fxFlex="13">
                                <mat-checkbox class="mt-24" 
                                    formControlName="indicadorventa" name="indicadorventa"                         
                                    [checked]="checkIndicadorventa"                       
                                    floatLabel="always">
                                    Ventas
                                </mat-checkbox>
                            </td>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="9" appearance="outline">
                                <input matInput name="columnaventa" required formControlName="columnaventa">
                            </mat-form-field>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="8" appearance="outline">
                                <input matInput name="columnaigvventa" required formControlName="columnaigvventa">
                            </mat-form-field>

                            <mat-label fxFlex="2"></mat-label>
                        
                            <td class="mat-cell text-left" fxFlex="13">
                                <mat-checkbox class="mt-24" 
                                    formControlName="indicadorcaja" name="indicadorcaja"                         
                                    [checked]="checkIndicadorcaja"                       
                                    floatLabel="always">
                                    Caja
                                </mat-checkbox>
                            </td>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="9" appearance="outline">
                                <input matInput name="columnacaja" required formControlName="columnacaja">
                            </mat-form-field>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="8" appearance="outline">
                                <input matInput name="columnaigvcaja" required formControlName="columnaigvcaja">
                            </mat-form-field>
                        </tr>

                       <tr class="mat-row">
                            <td class="mat-cell text-left" fxFlex="13">
                                <mat-checkbox class="mt-24" 
                                    formControlName="indicadoregreso" name="indicadoregreso"                         
                                    [checked]="checkIndicadoregreso"                       
                                    floatLabel="always">
                                    Egreso
                                </mat-checkbox>
                            </td>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="9" appearance="outline">
                                <input matInput name="columnaegreso" required formControlName="columnaegreso">
                            </mat-form-field>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="8" appearance="outline">
                                <input matInput name="columnaigvegreso" required formControlName="columnaigvegreso">
                            </mat-form-field>

                            <mat-label fxFlex="2"></mat-label>
                       
                            <td class="mat-cell text-left" fxFlex="13">
                                <mat-checkbox class="mt-24" 
                                    formControlName="indicadoringreso" name="indicadoringreso"                         
                                    [checked]="checkIndicadoringreso"                       
                                    floatLabel="always">
                                    Ingreso
                                </mat-checkbox>
                            </td>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="9" appearance="outline">
                                <input matInput name="columnaingreso" required formControlName="columnaingreso">
                            </mat-form-field>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="8" appearance="outline">
                                <input matInput name="columnaigvingreso" required formControlName="columnaigvingreso">
                            </mat-form-field>

                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell text-left" fxFlex="13">
                                <mat-checkbox class="mt-24" 
                                    formControlName="indicadordiario" name="indicadordiario"                         
                                    [checked]="checkIndicadordiario"                       
                                    floatLabel="always">
                                    Diario
                                </mat-checkbox>
                            </td>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="9" appearance="outline">
                                <input matInput name="columnadiario" required formControlName="columnadiario">
                            </mat-form-field>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="8" appearance="outline">
                                <input matInput name="columnaigvdiario" required formControlName="columnaigvdiario">
                            </mat-form-field>

                            <mat-label fxFlex="2"></mat-label>
                       
                            <td class="mat-cell text-left" fxFlex="13">
                                <mat-checkbox class="mt-24" 
                                    formControlName="indicadorimportacion" name="indicadorimportacion"                         
                                    [checked]="checkIndicadorimportacion"                       
                                    floatLabel="always">
                                    Importación
                                </mat-checkbox>
                            </td>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="9" appearance="outline">
                                <input matInput name="columnaimportacion" required formControlName="columnaimportacion">
                            </mat-form-field>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="8" appearance="outline">
                                <input matInput name="columnaigvimportacion" required formControlName="columnaigvimportacion">
                            </mat-form-field>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell text-left" fxFlex="13">
                                <mat-checkbox class="mt-24" 
                                    formControlName="indicadornodomiciliado" name="indicadornodomiciliado"                         
                                    [checked]="checkIndicadornodomiciliado"                       
                                    floatLabel="always">
                                    No Domiciliado
                                </mat-checkbox>
                            </td>

                            <mat-label fxFlex="1"></mat-label>
                            
                            <mat-form-field floatLabel="always" fxFlex="9" appearance="outline">
                                <input matInput name="columnanodomiciliado" required formControlName="columnanodomiciliado">
                            </mat-form-field>

                            <mat-label fxFlex="1"></mat-label>

                            <mat-form-field floatLabel="always" fxFlex="8" appearance="outline">
                                <input matInput name="columnaigvnodomiciliado" required formControlName="columnaigvnodomiciliado">
                            </mat-form-field>
                       
                            
                        </tr>
                      
                    </table>
                           

            </div>


            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 

            <div fxLayout="row" fxLayoutAlign="star start">

                <div fxFlex="50">
                    <mat-slide-toggle  class="emt-24"
                        name='estado' formControlName="estado"
                        [checked]="checkEstado" 
                        floatLabel="always">
                        Estado
                    </mat-slide-toggle>            
                </div>
                
                <div mat-dialog-actions fxFlex="50" fxLayoutAlign="end start">

                    <button mat-stroked-button color="warn" (click)="matDialogRef.close()">
                        <mat-icon class="mr-8">exit_to_app</mat-icon>
                        {{botonExit}}
                    </button>        
            
                    <button mat-stroked-button color="accent" [disabled]="subdiarioForm.invalid" (click)="grabarSubDiario(subdiarioForm)">
                            <mat-icon class="mr-8">check_circle</mat-icon>
                            {{botonAceptar}}            
                    </button>
                </div>
            </div> 

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div> 


        </form>

    </div>


</div>


