<div id="grupocentrocosto-form" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
  
    <!-- CENTER -->
    <div class="center">
  
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
  
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/contabilidad/mantenimiento/grupocentrocosto'">
                <mat-icon>arrow_back</mat-icon>
              </button>

              <div class="logo mb-24 mb-md-0"
                  fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    description
                  </mat-icon>
                  <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h3" *ngIf="misDatos.action=='editar'"> 
                        Editar Grupo Centro de Costo
                    </div>
                    <div class="h3" *ngIf="misDatos.action=='nuevo'">
                        Nuevo Grupo Centro de Costo
                    </div>
                   
                </div>
              </div>
          </div>
            <!-- / APP TITLE -->
            <!-- SAVE BUTTON -->


            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" [disabled]="grupocentrocostoForm.invalid" title='Grabar Grupo Centro de Costo' (click)="grabarGrupoCentroCosto()">
                    <mat-icon class="mr-8">check_circle</mat-icon>
                    <span>Grabar</span>
                </button>     
      
                <mat-label fxFlex="1"></mat-label>
      
                <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" (click)="crearGrupoCentroCosto()" *ngIf="misDatos.action=='editar'" title='Nuevo Grupo Centro de Costo'>
                  <mat-icon class="mr-8">add_circle_outline</mat-icon>
                  <span>Nuevo</span>
                </button>
              </div>
           

            <!-- / SAVE BUTTON -->
        </div>
        <!-- / HEADER -->
  
        <!-- CONTENT CARD -->
        <div class="content-card">

          <!-- CONTENT -->
          <div class="content"> 
            <mat-tab-group dynamicHeight class="grupocentrocosto-form-table">
              <mat-tab label="Grupo Centro de Costo">
                <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

                  <form [formGroup]="grupocentrocostoForm">
                      <div fxLayout="row" fxLayoutAlign="space-between">

                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="10">
                            <mat-label>Código</mat-label>
                            <input matInput name="grupocentrocosto" formControlName="grupocentrocosto" [readonly]="edit" required>                             
                        </mat-form-field>         
                        
                        <mat-form-field floatLabel="always" appearance="outline" fxFlex="88">
                          <mat-label>Denominación</mat-label>
                          <input matInput name="nombregrupocentrocosto" formControlName="nombregrupocentrocosto" required>                             
                        </mat-form-field>

                      </div>                                           

                      <div fxLayout="row" fxLayoutAlign="space-between">

                        <mat-slide-toggle  class="emt-24"
                            name='estado' formControlName="estado"
                            [checked]="checkEstado" 
                            floatLabel="always" fxFlex="30">
                            Estado
                        </mat-slide-toggle>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between">&nbsp;</div>

                  </form>
          
              </div>                 

              </mat-tab>

              <mat-tab label="Distribución por Centro de Costo" *ngIf="misDatos.action=='editar'">
                <div class="centrocosto-container">
                  <div class="card">
                    <div fxLayout="row" fxLayoutAlign="center center" class="header accent">
                      <span class="headerlist" fxFlex="30">&nbsp;Distribución por Centro de Costo</span>
                      <span class="header" fxFlex="80"></span>
                      <button mat-icon-button matSuffix fxFlex="20" title='Agregar Centro de Costo' (click)="registrarCentroCosto('0','insertar')">
                        <mat-icon>add_circle_outline</mat-icon><span class="header">Agregar</span>
                      </button>
                    </div>    
                  
                    <div>

                      <mat-table class="centrocosto-table" [dataSource]="listaCentroCosto" matSort >
          
                        <ng-container matColumnDef="centrocosto">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                          <mat-cell *matCellDef="let listaCentroCosto">
                            <p class="text-default">{{listaCentroCosto.centrocosto}}</p>
                          </mat-cell>
                        </ng-container>   

                        <ng-container matColumnDef="nombrecentrocosto">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</mat-header-cell>
                            <mat-cell *matCellDef="let listaCentroCosto">
                              <p class="text-default">{{listaCentroCosto.nombrecentrocosto}}</p>
                            </mat-cell>
                        </ng-container>   

                        <ng-container matColumnDef="porcentaje">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje (%)</mat-header-cell>
                            <mat-cell *matCellDef="let listaCentroCosto">
                              <p class="text-default">{{listaCentroCosto.porcentaje}}</p>
                            </mat-cell>
                        </ng-container>  

                        <ng-container matColumnDef="estado">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                          <mat-cell *matCellDef="let listaCentroCosto">
                            <p class="text-default">{{listaCentroCosto.descripcionestado}}</p>
                          </mat-cell>
                        </ng-container> 

                        <ng-container matColumnDef="editar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaCentroCosto">                              
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="editar" title='Editar Centro de Costo' (click)="registrarCentroCosto(listaCentroCosto.centrocosto,'editar')">
                                <mat-icon>edit</mat-icon>
                              </button>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let listaCentroCosto">
                              <button mat-icon-button matSuffix fxFlex="10" aria-label="eliminar" title='Eliminar Centro de Costo' (click)="eliminarCentroCosto(listaCentroCosto.centrocosto)">
                                <mat-icon>delete</mat-icon>
                              </button>  
                          </mat-cell>
                        </ng-container>         

                        <mat-header-row *matHeaderRowDef="displayedColumnsCentroCosto; sticky:true"></mat-header-row>
        
                        <mat-header-row *matRowDef="let listaCentroCosto; columns: displayedColumnsCentroCosto;" class="centrocosto">
                        </mat-header-row>                       
        
                      </mat-table>                       
  
                    </div>
                  </div>
                </div>
              </mat-tab>             


            </mat-tab-group>
          </div>
          <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

  </div>
  



