<div id="reportes-contabilidad" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    file_copy
                </mat-icon>
                <span class="logo-text h3" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Reportes Contables
                </span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="content" >

                <div class="nav material2" fxFlex="32" fusePerfectScrollbar>     

                    <div class="nav-subheader" (click)="mostrarMenu(100)" style="cursor:pointer;">LIBROS y REGISTROS</div>
                    <div *ngIf="viewRegistros">
                        <div *ngFor="let librosregistros of librosregistros">
                            <mat-icon class="mat-icon-button" [ngClass]="librosregistros.color" *ngIf="librosregistros.icon" (click)="mostrarFiltro(librosregistros.id, librosregistros.title)">
                                {{librosregistros.icon}}
                            </mat-icon>
                            <span (click)="mostrarFiltro(librosregistros.id, librosregistros.title)" style="cursor:pointer;">
                                {{librosregistros.title}}
                            </span>  
                        </div>
                    </div>

                    <div class="nav-subheader" (click)="mostrarMenu(200)"style="cursor:pointer;">LIBROS ELECTRÓNICOS</div>

                    <div *ngIf="viewElectronicos">
                        <div *ngFor="let libroselectronicos of libroselectronicos">
                            <mat-icon class="mat-icon-button" [ngClass]="libroselectronicos.color" *ngIf="libroselectronicos.icon" (click)="mostrarFiltro(libroselectronicos.id, libroselectronicos.title)">
                                {{libroselectronicos.icon}}
                            </mat-icon>
                            <span (click)="mostrarFiltro(libroselectronicos.id, libroselectronicos.title)" style="cursor:pointer;">
                                {{libroselectronicos.title}}
                            </span>  
                        </div>
                    </div>

                    <div class="nav-subheader" (click)="mostrarMenu(300)"style="cursor:pointer;">ANÁLISIS</div>

                    <div *ngIf="viewAnalisis">
                        <div *ngFor="let analisis of analisis">
                            <mat-icon class="mat-icon-button" [ngClass]="analisis.color" *ngIf="analisis.icon" (click)="mostrarFiltro(analisis.id, analisis.title)">
                                {{analisis.icon}}
                            </mat-icon>
                            <span (click)="mostrarFiltro(analisis.id, analisis.title)" style="cursor:pointer;">
                                {{analisis.title}}
                            </span>  
                        </div>
                    </div>

                    <div class="nav-subheader" (click)="mostrarMenu(400)"style="cursor:pointer;">ESTADOS FINANCIEROS</div>

                    <div *ngIf="viewEstadosFinancieros">
                        <div *ngFor="let estadosfinancieros of estadosfinancieros">
                            <mat-icon class="mat-icon-button" [ngClass]="estadosfinancieros.color" *ngIf="estadosfinancieros.icon" (click)="mostrarFiltro(estadosfinancieros.id, estadosfinancieros.title)">
                                {{estadosfinancieros.icon}}
                            </mat-icon>
                            <span (click)="mostrarFiltro(estadosfinancieros.id, estadosfinancieros.title)" style="cursor:pointer;">
                                {{estadosfinancieros.title}}
                            </span>  
                        </div>
                    </div>
  
                    <br>
            
                </div>

                <div class="card" fxFlex="67" *ngIf="id!==0">
            
                    <div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="header indigo">
                            <span class="headerlist">&nbsp;{{title}}</span>
                            <span class="header"></span>                                                  
                        </div> 
                        <div fxLayout="row" fxLayoutAlign="start center" class="header blue">
                            <span class="headerlist">&nbsp;Seleccionar Filtros:</span>
                            <span class="header"></span>                                                  
                        </div>
                    </div>

                    <span class="header">&nbsp;&nbsp;</span>                    

                    <div fxLayoutAlign="space-between" class="reportes-contabilidad-table">
                        <form [formGroup]="filtroForm">
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex="500">
                                    <mat-label>Mes de Proceso</mat-label>
                                    <select name='mes' matNativeControl  formControlName="mes"> 
                                        <option *ngFor="let dato of listaMes" [value]="dato.valor">
                                            {{dato.descripcion}}
                                        </option>                   
                                    </select>                           
                                </mat-form-field>
                            </div>
                            <div><br></div>
                            <div fxLayout="row" *ngIf="viewSubDiarioIni" fxLayoutAlign="start start">
                                <mat-label fxFlex="15">&nbsp;</mat-label>
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex="250">
                                    <mat-label>SubDiario Inicio</mat-label>
                                    <select name='subdiarioini' matNativeControl  formControlName="subdiarioini"> 
                                        <option *ngFor="let dato of listaSubDiarioIni" [value]="dato.codigo">
                                            {{dato.codigo}} - {{dato.descripcion}}
                                        </option>                   
                                    </select>                           
                                </mat-form-field>
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex="250">
                                    <mat-label>SubDiario Fin</mat-label>
                                    <select name='subdiariofin' matNativeControl  formControlName="subdiariofin"> 
                                        <option *ngFor="let dato of listaSubDiarioFin" [value]="dato.codigo">
                                            {{dato.codigo}} - {{dato.descripcion}}
                                        </option>                   
                                    </select>                           
                                </mat-form-field>
                            </div>
                            
                            <div fxLayout="row" *ngIf="viewCuenta" fxLayoutAlign="start start">
                                <mat-label fxFlex="15">&nbsp;</mat-label>
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex="250">
                                    <mat-label>Cuenta Contable Inicio</mat-label>
                                    <select name='ctacodini' matNativeControl  formControlName="ctacodini"> 
                                        <option *ngFor="let dato of listaCtaIni" [value]="dato.codigo">
                                            {{dato.codigo}} - {{dato.descripcion}}
                                        </option>                   
                                    </select>                           
                                </mat-form-field>
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex="250">
                                    <mat-label>Cuenta Contable Fin</mat-label>
                                    <select name='ctacodfin' matNativeControl  formControlName="ctacodfin"> 
                                        <option *ngFor="let dato of listaCtaFin" [value]="dato.codigo">
                                            {{dato.codigo}} - {{dato.descripcion}}
                                        </option>                   
                                    </select>                           
                                </mat-form-field>
                            </div>
                            
                            <div fxLayout="row" *ngIf="viewMoneda" fxLayoutAlign="start start">
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-label fxFlex="30">Moneda: &nbsp; </mat-label>
                                <mat-radio-group fxLayout="row" formControlName="moneda" fxFlex="90" fxLayoutAlign="start start">
                                    <mat-radio-button value="PEN">Nacional&nbsp;&nbsp;&nbsp;&nbsp; </mat-radio-button>
                                    <mat-radio-button value="USS">Dólares</mat-radio-button>
                                </mat-radio-group>                                                           
                            </div>
                            
                            <div fxLayout="row" *ngIf="viewOrden" fxLayoutAlign="start start">
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-label fxFlex="30">Ordenar Reporte por: &nbsp; </mat-label>
                                <mat-radio-group fxLayout="row" formControlName="orden" fxFlex="90" fxLayoutAlign="start start">
                                    <mat-radio-button value="E">Fecha de Emisión&nbsp;&nbsp;&nbsp;&nbsp; </mat-radio-button>
                                    <mat-radio-button value="O">Número de Operación</mat-radio-button>
                                </mat-radio-group>                                                           
                            </div>
                            
                            <div fxLayout="row" *ngIf="viewGlosa" fxLayoutAlign="start start">
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-label fxFlex="30">Glosa: &nbsp; </mat-label>
                                <mat-radio-group fxLayout="row" formControlName="glosa" fxFlex="90" fxLayoutAlign="start start">
                                    <mat-radio-button value="P">Principal&nbsp;&nbsp;&nbsp;&nbsp; </mat-radio-button>
                                    <mat-radio-button value="M">Movimiento</mat-radio-button>
                                </mat-radio-group>                                                           
                            </div>
                            
                            <div fxLayout="row" *ngIf="viewGlosaCaja" fxLayoutAlign="start start">
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-label fxFlex="30">Glosa: &nbsp; </mat-label>
                                <mat-radio-group fxLayout="row" formControlName="glosacaja" fxFlex="90" fxLayoutAlign="start start">
                                    <mat-radio-button value="P">Principal&nbsp;&nbsp;&nbsp;&nbsp; </mat-radio-button>
                                    <mat-radio-button value="M">Movimiento&nbsp;&nbsp;&nbsp;&nbsp; </mat-radio-button>
                                    <mat-radio-button value="E">Medio Pago</mat-radio-button>
                                </mat-radio-group>                                                           
                            </div>
                            
                            <div fxLayout="row" *ngIf="viewCategoria" fxLayoutAlign="start start">
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex="500">
                                    <mat-label>Categoría Cuenta Contable</mat-label>
                                    <select name='categoria' matNativeControl  formControlName="categoria"> 
                                        <option *ngFor="let dato of listaCategoria" [value]="dato.valor">
                                            {{dato.descripcion}}
                                        </option>                   
                                    </select>                           
                                </mat-form-field>
                            </div>
                            
                            <div fxLayout="row" *ngIf="viewFecha" fxLayoutAlign="start start">
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-form-field floatLabel="always" appearance="outline" fxFlex="40">
                                    <mat-label>Fecha</mat-label>
                                    <input type="date" matInput name="fecha" formControlName="fecha">                           
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" *ngIf="viewEstadoDocumento" fxLayoutAlign="start start">
                                <mat-label fxFlex="5">&nbsp;</mat-label>
                                <mat-label fxFlex="30">Estado Documento: &nbsp; </mat-label>
                                <mat-radio-group fxLayout="row" formControlName="estadodoc" fxFlex="90" fxLayoutAlign="start start">
                                    <mat-radio-button value="P">Pendiente&nbsp;&nbsp;&nbsp;&nbsp; </mat-radio-button>
                                    <mat-radio-button value="M">Cancelado&nbsp;&nbsp;&nbsp;&nbsp; </mat-radio-button>
                                    <mat-radio-button value="A">Ambos</mat-radio-button>
                                </mat-radio-group> 
                            </div>

                            

                        </form>
                    </div>       

        

                    <mat-toolbar>
                        <mat-toolbar-row fxLayoutAlign="center center" class="header">
                            <button mat-raised-button 
                                class="add-product-button blue-grey mt-24 mt-md-0" 
                                title='Generar Reporte / Descargar Información'
                                (click)="exportarExcel()" *ngIf="viewExcel">
                                <mat-icon>save_alt</mat-icon>
                                <span class="header">&nbsp;Excel</span>
                            </button>
                            <span class="header">&nbsp;&nbsp;</span>
                            <button mat-raised-button 
                                class="add-product-button blue-grey mt-24 mt-md-0" 
                                title='Generar Reporte / Descargar Información'
                                (click)="exportarTexto()" *ngIf="viewTexto">
                                <mat-icon>save_alt</mat-icon>
                                <span class="header">&nbsp;Texto</span>
                            </button>
                            <span class="header">&nbsp;&nbsp;</span>
                            <button mat-raised-button 
                                class="add-product-button blue-grey mt-24 mt-md-0" 
                                title='Generar Reporte / Descargar Información'
                                (click)="exportarPDF()" *ngIf="viewPdf">
                                <mat-icon>save_alt</mat-icon>
                                <span class="header">&nbsp;PDF</span>
                            </button>  
                        </mat-toolbar-row>
                    </mat-toolbar>
            
                </div>
            
            </div>
            
        </div>

    </div>

</div>
    
    