@import "src/@fuse/scss/fuse";
gez-reportes-contabilidad {
    #reportes-contabilidad { 
        .top-bg {
            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }
        >.center {
            >.header {
                min-height: 15% !important;
                height: auto !important;                
                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }            
        }        
    }
    .nav-subheader {
        color: rgb(15, 65, 145);
    }
    .headerlist {
        font-size: 1.1em;
        height: 30px;
    }
    .reportes-contabilidad-table {
        flex: 1 1 auto;
        border-bottom: 0px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .mat-header-row {
            min-height: 43px;
        }
        .mat-header-cell {
            font-size: 1.0em;
            color: rgb(15, 65, 145);
        }        
        .mat-cell {
            font-size: 0.9em;
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .active-icon {
            border-radius: 50%;
        }
        .reportes-contabilidad {
            position: relative;
            cursor: pointer;
            height: 23px;
        }
        .mat-tab-label {
            min-width: 25px !important;
            padding: 20px;
            background-color: transparent;
            color: black !important;
            font-size: 0.9em !important; //
        }
        .mat-label{
            font-size: 0.8em !important; //
        }
        .mat-form-field{
            font-size: 0.8em !important; //
        }
        .mat-form-field-label {
            font-size: 1.3em !important; //
        }
        .mat-input-element[readonly] {
            font-style: italic !important;
        }
        .mat-select {
            font-size: 0.8em !important;
        }
        .mat-radio-button {
            font-size: 0.8em !important;
        }
        .mat-checkbox {
            font-size: 0.8em !important;
        }
        .mat-slide-toggle{
            font-size: 0.9em !important; //
        }
        .active-icon {
            border-radius: 50% !important;
        }
        .mat-icon{
            border-radius: 50% !important;
            transform: scale(0.7);
        }
        .texto-icon{
            font-size: 0.8em !important;
        }   
        
        
    }
}

