<div class="dialog-content-wrapper">
    
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
 
    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

         <form [formGroup]="usuarioempresaperfilForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Empresa</mat-label>
                    <select name='empresa' matNativeControl required formControlName="empresa" #empresa
                     (change)="selectEmpresa(empresa.value)">
                        <option *ngFor="let dato of listaEmpresa" [value]="dato.empresa">
                            {{dato.descripcion}}
                          </option>                    
                      </select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Perfil</mat-label>
                    <select name='perfil' matNativeControl required formControlName="perfil">
                        <option *ngFor="let dato of listaPerfil" [value]="dato.perfil">
                            {{dato.descripcion}}
                          </option>                    
                      </select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field floatLabel="always" appearance="outline" fxFlex>
                    <mat-label>Acceso por defecto</mat-label>
                    <select name='indDefecto' matNativeControl required formControlName="indDefecto">
                        <option value="A">Si</option>
                        <option value="I">No</option>
                      </select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
            </div>

            <div fxLayout="row" fxLayoutAlign="star start">
                <mat-slide-toggle  class="emt-24"
                    name='estado' formControlName="estado"
                    [checked]="checkEstado" 
                    floatLabel="always">
                    Estado
                </mat-slide-toggle>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="star start">
                <br>
             </div>

        </form> 

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-stroked-button color="warn"
            (click)="matDialogRef.close()">
            <mat-icon class="mr-8">exit_to_app</mat-icon>
            {{botonExit}}
        </button>

        <button *ngIf="action !== 'editar'"
                mat-stroked-button color="accent"
                [disabled]="usuarioempresaperfilForm.invalid"
                [hidden]="hidegrabar"                
                (click)="crearUsuarioEmpresaPerfil(usuarioempresaperfilForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAgregar}}
        </button>            

        <button *ngIf="action === 'editar'"
                mat-stroked-button color="accent"
                [disabled]="usuarioempresaperfilForm.invalid"
                [hidden]="hidegrabar"  
                (click)="editarUsuarioEmpresaPerfil(usuarioempresaperfilForm)">
                <mat-icon class="mr-8">check_circle</mat-icon>
                {{botonAceptar}}            
        </button>
    </div> 
</div>
