@import "src/@fuse/scss/fuse";

.saldobox-dialog {

    @include media-breakpoint('xs') {
        width: 600%;
        height: 400px;
    }

    @include media-breakpoint('gt-xs') {
        width: 600px;
        height: 400px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .catalogo-table {
        padding: 0;
        overflow: auto;
        .mat-header-row {
            min-height: 40px; //
        }
        .mat-header-cell {
            font-size: 0.7em;
            color: rgb(15, 65, 145);
        }
        .catalogo {
            position: relative;
            cursor: pointer;
            height: 40px;
        }
        .mat-cell {
            font-size: 0.7em;
            min-width: 0;
        }

        .mat-column-fecha {
            flex: 0 0 7% !important;
            min-width: 80px !important;
        }
        
        .mat-column-subdiario {
            flex: 0 0 5% !important;
            min-width: 30px !important;
        }
        
        .mat-column-operacion {
            flex: 0 0 10% !important; 
            min-width: 75px !important;
        }
        
        .mat-column-tipodocumento {
            flex: 0 0 5% !important; 
            min-width: 25px !important;
        }
        
        .mat-column-serie {
            flex: 0 0 5% !important; 
            min-width: 25px !important;
        }
        
        .mat-column-numero {
            flex: 0 0 10% !important; 
            min-width: 65px !important;
        }        
        
        .mat-column-moneda {
            flex: 0 0 5% !important; 
            min-width: 20px !important;
        }
        
        .mat-column-saldoorigen {
            flex: 0 0 10% !important; 
            min-width: 60px !important;
        }
        
        .mat-column-saldonacional {
            flex: 0 0 10% !important; 
            min-width: 60px !important;
        }
        
        .mat-column-saldodolares {
            flex: 0 0 10% !important; 
            min-width: 60px !important;
        }

        .mat-column-glosa {
            flex: 0 0 10% !important; 
            min-width: 40px !important;
        }
    }
    
    .mat-paginator{
        font-size: 0.5em;
    }
}
