<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="h3">Saldo del Comprobante</span>            
        </mat-toolbar-row>

    </mat-toolbar> 

    <div mat-dialog-content class="p-0 pb-12 m-12">


        <mat-table class="catalogo-table" [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Emisión</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo1}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="subdiario">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Sub Diario</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo2}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="operacion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Operación</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo3}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipodocumento">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Doc.</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo4}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="serie">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Serie</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo5}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numero">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Comprobante</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo6}}</p>
                </mat-cell>
            </ng-container>            

            <ng-container matColumnDef="moneda">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Mon.</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo8}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="saldoorigen">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Saldo Moneda Origen</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo9}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="saldonacional">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Saldo Moneda Nacional</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo10}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="saldodolares">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Saldo Moneda Dólares</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo11}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="glosa">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Glosa</mat-header-cell>
                <mat-cell *matCellDef="let catalogo">
                    <p class="text-truncate">{{catalogo.campo7}}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-header-row *matRowDef="let catalogo; columns: displayedColumns;" 
            class="catalogo"
            matRipple
            (click)="seleccionarRegistro(catalogo.campo5, catalogo.campo6, catalogo.campo9, catalogo.campo10, catalogo.campo11)">
            </mat-header-row>

        </mat-table>

        <mat-toolbar *ngIf="dataSource.data.length === 0"  class="no-records">
            <mat-toolbar-row>
                <span style="font-size: 0.6em">{{resultado}}</span> 
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-toolbar *ngIf="dataSource.data.length > 10" >

            <mat-toolbar-row>
                <span fxFlex></span>
                <mat-paginator [length]="dataSource.filteredData.length" [pageSize]="10" [pageSizeOptions]="[5,10,15]"></mat-paginator>


            </mat-toolbar-row>
        </mat-toolbar>

        
    </div>
  
</div>
